<div>
  <div class="breadcrumb with-back-btn">
    <div class="row">
      <div class="col-md-12 p-0">
        <div class="row">
          <div class="col-md-12 col-md-8 d-flex justify-content-end align-items-start flex-column">
            <h1>Store Setting</h1>
            <ul>
              <li>Manage your website settings</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="separator-breadcrumb border-top"></div>

  <div class="row">
    <div class="col-md-6 col-lg-4 d-flex">
      <div (click)="settingForm={}; onOpenMailModal(mailConfigModal);" class="card setting-card w-100 p-3 mb-4 cursor">
        <div class="d-flex align-items-center justify-content-center flex-column mt-2">
          <label class="text-title">Mail Configuration</label>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4 d-flex">
      <div routerLink="/logo-management" class="card setting-card w-100 p-3 mb-4 cursor">
        <div class="d-flex align-items-center justify-content-center flex-column mt-2">
          <label class="text-title">Logo Management</label>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4 d-flex">
      <div class="card setting-card w-100 p-3 mb-4 cursor">
        <div class="d-flex align-items-center justify-content-center flex-column mt-2">
          <label class="text-title">Checkout Setting</label>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4 d-flex">
      <div class="card setting-card w-100 p-3 mb-4 cursor">
        <div class="d-flex align-items-center justify-content-center flex-column mt-2">
          <label class="text-title">Search Keywords</label>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4 d-flex">
      <div class="card setting-card w-100 p-3 mb-4 cursor">
        <div class="d-flex align-items-center justify-content-center flex-column mt-2">
          <label class="text-title">Plugin Management</label>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4 d-flex">
      <div class="card setting-card w-100 p-3 mb-4 cursor">
        <div class="d-flex align-items-center justify-content-center flex-column mt-2">
          <label class="text-title">Invoice Setting</label>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4 d-flex">
      <div class="card setting-card w-100 p-3 mb-4 cursor">
        <div class="d-flex align-items-center justify-content-center flex-column mt-2">
          <label class="text-title">Announcement Bar</label>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4 d-flex">
      <div class="card setting-card w-100 p-3 mb-4 cursor">
        <div class="d-flex align-items-center justify-content-center flex-column mt-2">
          <label class="text-title">Social Login</label>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4 d-flex">
      <div class="card setting-card w-100 p-3 mb-4 cursor">
        <div class="d-flex align-items-center justify-content-center flex-column mt-2">
          <label class="text-title">Chat Setting</label>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4 d-flex">
      <div class="card setting-card w-100 p-3 mb-4 cursor">
        <div class="d-flex align-items-center justify-content-center flex-column mt-2">
          <label class="text-title">Newsletter Config</label>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4 d-flex">
      <div class="card setting-card w-100 p-3 mb-4 cursor">
        <div class="d-flex align-items-center justify-content-center flex-column mt-2">
          <label class="text-title">General Setting</label>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Mail Configuration -->
<ng-template #mailConfigModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Mail Configuration</h4>
  </div>
  <form autocomplete="off" (ngSubmit)="onUpdateMailConfig();" ngNativeValidate>
    <div class="modal-body">
      <div class="form-group">
        <div class="row">
          <div class="col-md-12 form-group" [ngClass]="settingForm.host_type=='gmail'? 'mb-0': 'mb-3'">
            <label>Host Type</label>
            <select name="host_type" class="form-control select-arrow" [(ngModel)]="settingForm.host_type" required>
              <option [ngValue]="x.value" *ngFor="let x of mailTypes">{{x.name}}</option>
            </select>
            <p *ngIf="settingForm.host_type=='gmail'">
              <b>Note:</b> Follow the instruction
              <a href="https://support.google.com/mail/answer/78754" target="_blank" style="position: relative; top: 8px;">
                <i class="material-icons">link</i>
              </a>
            </p>
          </div>
          <ng-container *ngIf="settingForm.host_type=='roundcube'">
            <div class="col-md-6 form-group mb-3">
              <label>Domain</label>
              <input type="text" name="mail_domain" class="form-control" [(ngModel)]="settingForm.mail_domain" required />
            </div>
            <div class="col-md-6 form-group mb-3">
              <label>Mail Host</label>
              <input type="text" name="mail_host" class="form-control" [(ngModel)]="settingForm.mail_host" required />
            </div>
          </ng-container>
          <div class="col-md-6 form-group mb-3">
            <label>Login email</label>
            <input type="email" name="username" class="form-control" [(ngModel)]="settingForm.username" required />
          </div>
          <div class="col-md-6 form-group mb-3">
            <label>Login Password</label>
            <input [type]="settingForm.input_txt? 'text': 'password'" name="password" class="form-control" [(ngModel)]="settingForm.password" #password="ngModel" required />
            <i class="material-icons visibility_icon" *ngIf="!settingForm.input_txt" (click)="settingForm.input_txt = !settingForm.input_txt" aria-hidden="true">visibility</i>
            <i class="material-icons visibility_icon" *ngIf="settingForm.input_txt" (click)="settingForm.input_txt = !settingForm.input_txt" aria-hidden="true">visibility_off</i>
          </div>
          <div class="col-md-6 form-group mb-3">
            <label>From Name</label>
            <input type="text" name="from_name" class="form-control" [(ngModel)]="settingForm.from_name" required />
          </div>
          <div class="col-md-6 form-group mb-3">
            <label>CC Mail</label>
            <input type="email" name="cc_mail" class="form-control" [(ngModel)]="settingForm.cc_mail" required />
          </div>
          <div class="col-md-12 border-top"></div>
          <div class="mb-3 mt-3 col-md-12">
            <span class="access-inner-head primary-color">Template Settings</span>
          </div>
          <div class="col-md-6 form-group mb-3">
            <label>Font URL</label>
            <input type="text" name="font_url" class="form-control" [(ngModel)]="settingForm.template_config.font_url" required />
          </div>
          <div class="col-md-6 form-group mb-3">
            <label>Font Family</label>
            <input type="text" name="font_family" class="form-control" [(ngModel)]="settingForm.template_config.font_family" required />
          </div>
          <div class="col-md-6 form-group mb-3">
            <label>Theme Color</label>
            <input type="color" name="theme_color" class="form-control" [(ngModel)]="settingForm.template_config.theme_color" required />
          </div>
          <div class="col-md-6 form-group mb-3">
            <label>Text Mode</label>
            <select name="txt_color" class="form-control select-arrow" [(ngModel)]="settingForm.template_config.txt_color" required>
              <option [ngValue]="x.value" *ngFor="let x of textTypes">{{x.name}}</option>
            </select>
          </div>
          <ng-container *ngIf="commonService.master_token || settingForm.band_status">
            <div class="col-md-12 border-top"></div>
            <div class="mb-3 mt-3 col-md-12">
              <span class="access-inner-head primary-color">Band Settings</span>
            </div>
            <div *ngIf="commonService.master_token" class="col-md-12 form-group mb-3">
              <label class="checkbox checkbox-primary">
                <input class="form-check-input" type="checkbox" name="band_status" [(ngModel)]="settingForm.band_status">
                <span>Enable Band</span>
                <span class="checkmark"></span>
              </label>
            </div>
            <ng-container *ngIf="settingForm.band_status">
              <div class="col-md-6 form-group mb-3">
                <label>Background Color</label>
                <input type="color" name="bg_color" class="form-control" [(ngModel)]="settingForm.band_config.bg_color" required />
              </div>
              <div class="col-md-6 form-group mb-3">
                <label>Text Mode</label>
                <select name="band_txt_color" class="form-control select-arrow" [(ngModel)]="settingForm.band_config.txt_color" required>
                  <option [ngValue]="x.value" *ngFor="let x of textTypes">{{x.name}}</option>
                </select>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
      <div *ngIf="settingForm.errorMsg"><p class="text-danger">{{ settingForm.errorMsg }}</p></div>
    </div>
    <div class="modal-footer">
      <button type="button" id="closeModal" class="btn btn-wide black-outline-btn" (click)="modal.dismiss('Cross click');">
       <span class="black-outline-txt">Cancel</span>
      </button>
      <button type="submit" [disabled]="settingForm.submit" [ladda]="settingForm.submit" class="btn btn-wide btn-primary ladda-button">Submit</button>
    </div>
  </form>
</ng-template>