<div>
  <div class="breadcrumb with-back-btn">
    <div class="row">
      <div class="col-md-12 p-0">
        <div class="row">
          <div class="col-md-12 col-md-8 d-flex justify-content-end align-items-start flex-column">
            <h1>Apps</h1>
            <ul>
              <li>View and manage your billings</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="separator-breadcrumb border-top"></div>

  <div class="top-filter-sec">
    <div class="row mb-2">
      <div class="col-md-6">
        <div class="form-group">
          <select name="type" class="form-control select-arrow">
            <option>All categories</option>
            <option>categories 1</option>
            <option>categories 2</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <input type="text" name="search_bar" placeholder="Search" class="form-control">
        </div>
      </div>
    </div>
  </div>

  <div class="apps-cards-section mt-5">
    <div class="row">
      <div class="col-md-4 d-flex">
        <div routerlink="/app-detail" class="card apps-card w-100 p-3 mb-4" tabindex="0">
          <div class="app-image">
            <img src="https://image.flaticon.com/icons/png/512/281/281769.png" alt="app-icons">
          </div>
          <div class="app-content">
            <h5>Gmail</h5>
            <div class="app-description">
              <p class="two-line-txt-ellipsis">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi soluta, aliquam ex aliquid quis maxime ducimus
                reprehenderit accusamus totam itaque ullam adipisci eius repudiandae voluptates laboriosam corporis! Odio,
                consectetur cumque.</p>
            </div>
            <div class="app-indicator">
              <div class="app-installed">
                <i class="material-icons">check_circle</i> App Installed </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex">
        <div routerlink="/app-detail" class="card apps-card w-100 p-3 mb-4" tabindex="0">
          <div class="app-image">
            <img src="https://cdn.iconscout.com/icon/free/png-256/github-153-675523.png" alt="app-icons">
          </div>
          <div class="app-content">
            <h5>GitHub</h5>
            <div class="app-description">
              <p class="two-line-txt-ellipsis">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi soluta, aliquam ex aliquid quis maxime ducimus
                reprehenderit accusamus totam itaque ullam adipisci eius repudiandae voluptates laboriosam corporis! Odio,
                consectetur cumque.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex">
        <div routerlink="/app-detail" class="card apps-card w-100 p-3 mb-4" tabindex="0">
          <div class="app-image">
            <img src="https://clipartmag.com/images/location-icon-png-36.png" alt="app-icons">
          </div>
          <div class="app-content">
            <h5>Google Maps</h5>
            <div class="app-description">
              <p class="two-line-txt-ellipsis">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi soluta, aliquam ex aliquid quis maxime ducimus
                reprehenderit accusamus totam itaque ullam adipisci eius repudiandae voluptates laboriosam corporis! Odio,
                consectetur cumque.</p>
            </div>
            <div class="app-indicator">
              <div class="app-installed">
                <i class="material-icons">check_circle</i> App Installed </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex">
        <div routerlink="/app-detail" class="card apps-card w-100 p-3 mb-4" tabindex="0">
          <div class="app-image">
            <img src="https://cdn.iconscout.com/icon/free/png-256/github-153-675523.png" alt="app-icons">
          </div>
          <div class="app-content">
            <h5>GitHub</h5>
            <div class="app-description">
              <p class="two-line-txt-ellipsis">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi soluta, aliquam ex aliquid quis maxime ducimus
                reprehenderit accusamus totam itaque ullam adipisci eius repudiandae voluptates laboriosam corporis! Odio,
                consectetur cumque.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>