.footer-bottom {
  a {
    background-color: #efefef;
    border-radius: 12px;
    padding: 5px 10px;
  }
}

.yourstore-logo {
  width: 75px;
  height: auto;
  margin-left: 5px;
}

.band-txt {
  font-weight: 300;
  color: #000;
  font-size: 0.75rem;
  line-height: 1.65;
  text-align: left;
  padding: 5px;
  letter-spacing: 0.05em;
}

@media only screen and (max-width: 767px) {
  .justify-content-sm-center {
    justify-content: center !important;
  }
  .yourstore-logo {
    width: 80px !important;
  }
  .band-txt {
    font-size: 0.75rem !important;
  }
  .footer-logo {
    flex-direction: column;
    p {
      text-align: center;
    }
  }
  .yourstore-text {
    margin-bottom: 10px;
  }
}