<div *ngIf="pageLoader" class="row">
  <app-spinner></app-spinner>
</div>

<div *ngIf="!pageLoader">
  <div class="breadcrumb with-back-btn">
    <div class="row">
      <div class="col-md-12">
        <h1>Ratings & Reviews</h1>
        <!-- <ul>
          <li style="padding: 0px;">View and manage your product reviews</li>
        </ul> -->
      </div>
    </div>
  </div>
  <div class="separator-breadcrumb border-top"></div>

  <!-- DATA LIST -->
  <div class="row list-horizontal">

    <div class="list-item col-md-12">
      <div class="card mb-4 mtb-0-60 d-flex flex-row">
        <div class="list-thumb d-flex align-items-center mtb-20">
          <img [src]="imgBaseUrl+reviewDetails.productDetails[0]?.image_list[0].image" alt="">
        </div>
        <div class="flex-grow-1 pl-2 d-flex mtb-20">
          <div class="card-body align-self-center d-flex flex-column justify-content-between align-items-lg-center flex-lg-row">
            <p class="m-0">{{reviewDetails.productDetails[0]?.name}}<br>{{reviewDetails.productDetails[0]?.sku}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <h4 class="add-another">Reviews</h4>
    </div>

    <div *ngFor="let x of reviewDetails.reviews | orderDesc:'_id' | paginate: { itemsPerPage: pageSize, currentPage: page }; let i = index;"
      class="list-item col-md-12" [@animate]="{value:'*',params:{delay: (i*100)+'ms', y:'50px'}}">

      <div class="card o-hidden mb-4 d-flex flex-row">
        <div *ngIf="x.order_by=='admin'" class="find-band"></div>
        <div class="flex-grow-1 pl-2 d-flex mtb-20">
          <div class="card-body align-self-center d-flex flex-column justify-content-between align-items-lg-center flex-lg-row">
            <p class="m-0 prod-card-content">{{x.rating}} Star</p>
            <p class="m-0 text-muted text-small w-sm-100">{{x.customer_name}}</p>
            <p class="m-0 text-muted text-small w-sm-100">{{ x.created_on | date: "dd MMM y hh:mm a" }}</p>
            <p class="c-w-15 w-md-100 m-b-0">
              <span class="badge badge-warning" [ngClass]="x.status=='active'? 'badge-green': 'badge-red'">
                {{ x.status=='active'? 'Published': 'Unpublished' }}
              </span>
            </p>
            <div class="mr-2 c-w-15 w-md-100 d-lg-block item-actions">
              <button (click)="selectedReview=x; modalService.open(reviewModal, { size: 'lg'});" class="btn btn-wide black-outline-btn w-100 mr-3 w-100 w-lg-auto m-b-10">
                <span class="black-outline-txt">View</span>
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- PAGINATION CONTROL -->
    <div class="col-md-12 mt-3" *ngIf="reviewDetails.reviews?.length">
      <pagination-controls (pageChange)="page=$event; commonService.pageTop(0);" autoHide="true" responsive="true" maxSize="5" previousLabel="" nextLabel=""></pagination-controls>
    </div>
  </div>

  <div *ngIf="!reviewDetails.reviews?.length" class="row">
    <div class="col-md-12 d-flex flex-column align-items-center justify-content-center no-rec-found-wrapper">
      <img class="no-rec-found" src="assets/images/no_records_found.png" alt="no-records">
      <p align="center">No data to display.</p>
    </div>
  </div>
</div>

<!-- ADD MODAL -->
<ng-template #reviewModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Review Details</h4>
    <button type="button" id="closeModal" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <div class="row">
        <div class="col-md-12 mb-3">
          <p>{{selectedReview.customer_name}}</p>
          <p>{{ selectedReview.created_on | date: "dd MMM y hh:mm a" }}</p>
        </div>
        <div class="col-md-12 mb-3">
          <p>{{selectedReview.rating}} Star</p>
          <p>{{selectedReview.title}}</p>
          <p [innerHtml]="selectedReview.description"></p>
        </div>
      </div>
    </div>
    <div *ngIf="selectedReview.errorMsg"><p class="text-danger">{{ selectedReview.errorMsg }}</p></div>
  </div>
  <div class="modal-footer">
    <button type="button" (click)="updateStatus(selectedReview);" class="btn btn-wide black-outline-btn">
      <span class="black-outline-txt">{{selectedReview.status=='active'? 'Unpublish': 'Publish'}}</span>
    </button>
    <button type="button" (click)="deleteForm=selectedReview; modalService.open(deleteModal, { centered: true });" class="btn btn-wide btn-primary">Delete</button>
  </div>
</ng-template>

<!-- Delete Modal -->
<ng-template #deleteModal let-modal>
  <div class="modal-body">
    <p>
      <strong>Are you sure you want to delete the selected review?</strong>
    </p>
    <div *ngIf="deleteForm.errorMsg">
      <p class="text-danger">{{ deleteForm.errorMsg }}</p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" id="closeDeleteModal" class="btn btn-wide black-outline-btn" (click)="modal.dismiss('cancel')">
     <span class="black-outline-txt">No</span>
    </button>
    <button type="button" class="btn btn-wide orng-outline-btn" (click)="onDelete();">
     <span class="orng-outline-txt">Yes</span>
    </button>
  </div>
</ng-template>