<div *ngIf="pageLoader" class="row">
  <app-spinner></app-spinner>
</div>

<div *ngIf="!pageLoader">
  <div class="breadcrumb">
    <h1>{{params.client_id? clientForm.name: 'New Client'}}
      <span class="breadcrumb-steps">(Step {{step_num}} of 2)</span>
    </h1>
    <ul>
      <li *ngIf="step_num==1">{{params.client_id? 'Update': 'Add your'}} client details</li>
      <li *ngIf="step_num==2">{{params.client_id? 'Update': 'Select'}} rental package</li>
    </ul>
  </div>
  <div class="separator-breadcrumb border-top"></div>

  <form *ngIf="step_num==1" autocomplete="off" (ngSubmit)="clientForm.package_details? '': clientForm.package_details={}; step_num=2; onChoosePackage();" ngNativeValidate>
    <div class="row">
      <div *ngIf="!params.client_id" class="col-md-12 mb-3" align="center">
        <div *ngIf="clientForm.store_logo">
          <span (click)="clientForm.img_change=false; clientForm.store_logo=null;" class="material-icons item-close float-right" aria-hidden="true">close</span>
          <img [src]="clientForm.store_logo" height="100px;" width="auto;">
        </div>
        <div *ngIf="!clientForm.store_logo">
          <label>
            <div>
              <i class="material-icons add-img">add_photo_alternate</i>
              <p>Click to upload logo</p>
            </div>
            <input type="file" name="logo" style="display: none;" (change)="fileChangeListener('add', $event);" accept="image/png" />
          </label>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-3 form-group mb-3">
            <label>Store Name</label>
            <input type="text" name="name" class="form-control" [(ngModel)]="clientForm.name" #name="ngModel" required />
          </div>
          <div class="col-md-3 form-group mb-3">
            <label>Account Type</label>
            <select name="account_type" class="form-control" [(ngModel)]="clientForm.account_type" #account_type="ngModel" required>
              <option value="client">Client</option>
              <option value="demo">Demo</option>
            </select>
          </div>
          <div class="col-md-3 form-group mb-3">
            <label>Domain</label>
            <input type="text" name="website" class="form-control" [(ngModel)]="clientForm.website" #website="ngModel" placeholder="example.com" required [readonly]="params.client_id" />
          </div>
          <div *ngIf="!params.client_id" class="col-md-3 form-group mb-3">
            <label>Theme</label>
            <select name="theme" class="form-control" [(ngModel)]="clientForm.theme" #theme="ngModel" required>
              <option value="boleiro">Boleiro</option>
              <option value="premeiro">Premeiro</option>
              <option value="luxeiro">Luxeiro</option>
              <option value="slate">Slate</option>
              <option value="brook">Brook</option>
              <option value="snap">Snap</option>
              <option value="slot">Slot</option>
            </select>
          </div>
          <div *ngIf="!params.client_id && clientForm.account_type=='client'" class="form-group mb-3 col-md-12">
            <label class="checkbox checkbox-primary">
              <input class="form-check-input" type="checkbox" name="allow_deploy" [(ngModel)]="clientForm.allow_deploy" #allow_deploy="ngModel">
              <span class="access-inner-head">Enable Auto-Deployment</span>
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="form-group mb-3" [ngClass]="params.client_id? 'col-md-3': 'col-md-6'">
            <label>Email</label>
            <input type="email" name="email" class="form-control" [(ngModel)]="clientForm.email" #email="ngModel" required [readonly]="params.client_id" />
          </div>
          <div *ngIf="!params.client_id" class="col-md-6 form-group mb-3">
            <label>Password</label>
            <input type="text" name="password" class="form-control" [(ngModel)]="clientForm.password" #password="ngModel" required />
          </div>
          <!-- company details -->
          <div class="mb-2 col-md-12">
            <span class="access-inner-head">Company Details</span>
          </div>
          <div class="col-md-6 form-group mb-3">
            <label>Company Name</label>
            <input type="text" name="company_name" class="form-control" [(ngModel)]="clientForm.company_details.name" #company_name="ngModel" required />
          </div>
          <div class="col-md-6 form-group mb-3">
            <label>GST Number</label>
            <input type="text" name="gst_no" class="form-control" [(ngModel)]="clientForm.gst_no" #gst_no="ngModel" />
          </div>
          <div class="col-md-6 form-group mb-3">
            <label>Contact Person</label>
            <input type="text" name="contact_person" class="form-control" [(ngModel)]="clientForm.company_details.contact_person" #contact_person="ngModel" required />
          </div>
          <div class="col-md-6 form-group mb-3">
            <label>Mobile</label>
            <input type="text" name="mobile" class="form-control" [(ngModel)]="clientForm.company_details.mobile" #mobile="ngModel" required />
          </div>
          <div class="col-md-12 form-group mb-3">
            <label>Address</label>
            <textarea name="address" [(ngModel)]="clientForm.company_details.address" #address="ngModel" class="form-control"></textarea>
          </div>
          <div class="col-md-6 form-group mb-3">
            <label>City</label>
            <input type="text" name="city" class="form-control" [(ngModel)]="clientForm.company_details.city" #city="ngModel" />
          </div>
          <div class="col-md-6 form-group mb-3">
            <label>Pincode</label>
            <input type="text" name="pincode" class="form-control" [(ngModel)]="clientForm.company_details.pincode" #pincode="ngModel" />
          </div>
          <div class="col-md-6 form-group mb-3">
            <label>Country</label>
            <select name="country" class="form-control" [(ngModel)]="clientForm.country" #country="ngModel" [disabled]="params.client_id" required>
              <option *ngFor="let x of commonService.country_list;" [ngValue]="x.name">{{x.name}}</option>
            </select>
          </div>
          <div *ngIf="!params.client_id" class="col-md-6 form-group mb-3">
            <label>Currency</label>
            <select name="currency_types" class="form-control" [(ngModel)]="clientForm.currency_types" #currency_types="ngModel" required>
              <option *ngFor="let x of currencyList;" [ngValue]="x">{{x.country_code}}</option>
            </select>
          </div>
          <div *ngIf="params.client_id" class="col-md-6 form-group mb-3">
            <label>Currency</label>
            <input type="text" name="currency_types" class="form-control" [(ngModel)]="clientForm.currency_types.country_code" readonly />
          </div>
          <div class="form-group mb-3 col-md-6">
            <label class="checkbox checkbox-primary">
              <input class="form-check-input" type="checkbox" name="had_exp_in_online" [(ngModel)]="clientForm.company_details.had_exp_in_online" #had_exp_in_online="ngModel">
              <span>Have experience selling online</span>
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="form-group mb-3 col-md-6">
            <label class="checkbox checkbox-primary">
              <input class="form-check-input" type="checkbox" name="need_help_in_design" [(ngModel)]="clientForm.company_details.need_help_in_design" #need_help_in_design="ngModel">
              <span>Need help designing your store</span>
              <span class="checkmark"></span>
            </label>
          </div>
          <!-- end company details -->
        </div>
      </div> 
    </div>

    <div class="separator-breadcrumb border-top mt-5"></div>
    <div class="row">
      <div align="center" class="col-md-12">
        <button type="button" routerLink="/admin/clients" class="btn btn-wide btn-outline-secondary">Cancel</button>&nbsp; &nbsp; &nbsp;
        <button type="submit" class="btn btn-primary">Next</button>
      </div>
    </div>
  </form>

  <form *ngIf="step_num==2" autocomplete="off" (ngSubmit)="onSubmit();" ngNativeValidate>
    <div class="row">
      <div class="form-group mb-3 col-md-12">
        <label class="checkbox checkbox-primary">
          <input class="form-check-input" type="checkbox" name="abandoned_status" [(ngModel)]="clientForm.abandoned_status" #abandoned_status="ngModel">
          <span>Enable abandoned cart recovery email alert</span>
          <span class="checkmark"></span>
        </label>
      </div>
      <div class="form-group mb-3 col-md-12">
        <label class="checkbox checkbox-primary">
          <input class="form-check-input" type="checkbox" name="billing_status" [(ngModel)]="clientForm.package_details.billing_status" #billing_status="ngModel">
          <span>Enable Billing</span>
          <span class="checkmark"></span>
        </label>
      </div>
      <ng-container *ngIf="clientForm.package_details.billing_status">
        <div class="col-md-6 form-group mb-3">
          <label>Subscription Start Date</label>
          <input type="text" placeholder="Select Date" class="form-control" name="start_date" autocomplete="off"
          [(ngModel)]="clientForm.package_details.subscription_start_date" bsDatepicker [bsConfig]="{ showWeekNumbers: false, dateInputFormat: 'DD-MM-YYYY' }" required />
        </div>
        <div class="col-md-6 form-group mb-3">
          <label>Subscription End Date</label>
          <input type="text" placeholder="Select Date" class="form-control" name="end_date" autocomplete="off"
          [(ngModel)]="clientForm.package_details.expiry_date" bsDatepicker [bsConfig]="{ showWeekNumbers: false, dateInputFormat: 'DD-MM-YYYY' }" required />
        </div>
      </ng-container>
      <div class="col-md-12 mb-3">
        <div class="card card-in-card p-3">
          <div class="row ml-3 mt-3">
            <div class="col-lg-3 col-md-4 mb-3" *ngFor="let x of packages_list;">
              <label class="radio radio-success">
                <input type="radio" name="package_id" [value]="x._id" [checked]="x._id==clientForm.package_details.package_id" (change)="clientForm.package_details.package_id=x._id; onChoosePackage();">
                <span>{{x.name}} - <b>{{ x.currency_types[clientForm.currency_types.country_code].amount | currency:clientForm.currency_types.country_code:'symbol':'1.0' }}</b></span>
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <!-- Discount -->
      <div class="form-group mb-3 col-md-12">
        <label class="checkbox checkbox-primary">
          <input class="form-check-input" type="checkbox" name="disc_status" [(ngModel)]="clientForm.package_details.disc_status" #disc_status="ngModel">
          <span>Apply Discount</span>
          <span class="checkmark"></span>
        </label>
      </div>
      <ng-container *ngIf="clientForm.package_details.disc_status">
        <div class="form-group mb-3 ml-3 col-md-6">
          <label>Discount per month ({{clientForm.currency_types.country_code}})</label>
          <input type="text" name="disc_amount" class="form-control" [(ngModel)]="clientForm.package_details.disc_amount" #disc_amount="ngModel" required />
        </div>
        <div class="col-md-6"></div>
      </ng-container>
      <!-- Additional Features -->
      <div *ngIf="paid_features_list?.length" class="form-group mb-3 col-md-12">
        <label class="checkbox checkbox-primary">
          <input class="form-check-input" type="checkbox" name="add_features" [(ngModel)]="clientForm.add_features" #add_features="ngModel">
          <span>Apply Additional Features</span>
          <span class="checkmark"></span>
        </label>
      </div>
    </div>

    <div class="row ml-3" *ngIf="paid_features_list?.length && clientForm.add_features">
      <ng-container *ngFor="let x of paid_features_list; let i=index;">
        <div *ngIf="x.package_pricing[clientForm.currency_types.country_code].price > 0" class="col-lg-3 col-md-4 form-group mb-3">
          <label class="checkbox checkbox-success">
            <input class="form-check-input" type="checkbox" name="feature_checked{{i}}" [(ngModel)]="x.feature_checked">
            <span>{{x.name}} - <b>{{ x.package_pricing[clientForm.currency_types.country_code].price | currency:clientForm.currency_types.country_code:'symbol':'1.0' }}</b></span>
            <span class="checkmark"></span>
          </label>
        </div>
      </ng-container>
    </div>

    <div class="separator-breadcrumb border-top mt-5"></div>
    <div class="row">
      <div class="col-md-12 mt-3 mb-3" *ngIf="clientForm.errorMsg">
        <p class="text-danger" align="center">{{ clientForm.errorMsg }}</p>
      </div>

      <div align="center" class="col-md-12">
        <button type="button" (click)="step_num=1;" class="btn btn-wide btn-outline-secondary">Go Back</button>&nbsp; &nbsp; &nbsp;
        <button type="submit" class="btn btn-wide btn-primary ladda-button m-1" [disabled]="clientForm.btnLoader" [ladda]="clientForm.btnLoader">
          {{params.client_id? 'Update': 'Add'}}
        </button>
      </div>
    </div>
  </form>
</div>