<div *ngIf="pageLoader" class="row">
  <app-spinner></app-spinner>
</div>

<div *ngIf="!pageLoader">
  <div class="breadcrumb with-back-btn">
    <div class="row">
      <div class="col-md-9">
        <h1>Customers</h1>
        <ul>
          <li>View and manage your customers</li>
        </ul>
      </div>
      <div class="col-md-3 d-flex align-items-center justify-content-end mt-sm-15" align="right">
        <button *ngIf="commonService.store_details.login_type=='admin'" type="button" (click)="exportAsXLSX();" class="btn btn-primary ladda-button mr-2" [disabled]="exportLoader" [ladda]="exportLoader">Export</button>
      </div>
    </div>
  </div>
  <div class="separator-breadcrumb border-top"></div>

  <div class="top-filter-sec">
    <div class="row mb-4">
      <div class="col-6">
        <button *ngIf="commonService.store_details?.login_type=='admin'" type="button" (click)="addCustomerModal(customerModal);" class="btn btn-primary ladda-button mr-2">Add New Customer</button>
      </div>
      <!-- search box -->
      <div class="col-md-6 mt-sm-15">
        <div class="form-group">
          <input type="text" name="search_bar" placeholder="Search" class="form-control" [(ngModel)]="search_bar" />
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="list?.length" class="list-horizontal">

    <div
      *ngFor="let x of list | gridSearch: { name: search_bar, email: search_bar, mobile: search_bar } | orderDesc:'_id' | paginate: { itemsPerPage: pageSize, currentPage: page }; let i=index;"
      class="col-md-12 list-item" [@animate]="{value:'*',params:{delay: (i*100)+'ms', y:'50px'}}">
      <div class="card o-hidden mb-4 d-flex flex-row">
        <div class="flex-grow-1 pl-2 d-flex mtb-30 mtb-0-60">
          <div
            class="card-body align-self-center d-flex flex-column justify-content-between align-items-lg-center flex-lg-row">
            <p class="w-30 w-sm-100 m-b-0">{{x.name}}</p>
            <p class="w-30 w-sm-100 m-b-0">{{x.email}}</p>
            <p class="w-30 w-sm-100 m-b-0">{{x.mobile}}</p>
            <p class="m-0 text-muted text-small w-15 w-sm-100 d-lg-block item-actions order-md-2">
              <a class="btn btn-wide black-outline-btn w-md-100 mr-3" (click)="selected_customer=x; modalService.open(viewCustomerModal, {windowClass:'xlModal'});">
                <span class="black-outline-txt">View</span>
              </a>
            </p>
            <div *ngIf="commonService.store_details?.login_type=='admin'" class="product-btn-group text-muted text-small w-15 w-sm-100 d-lg-block item-actions mr-3 c-m-md-0">
              <div class="btn-group w-md-100">
                <!-- orders -->
                <div *ngIf="commonService.store_details?.type=='order_based' || commonService.store_details?.type=='restaurant_based'" class="btn-group w-md-100" ngbDropdown role="group" aria-label="Select all" placement="left">
                  <button class="btn btn-wide btn-primary w-md-100" ngbDropdownToggle>View Orders</button>
                  <div class="dropdown-menu" ngbDropdownMenu>
                    <button class="dropdown-item" (click)="goOrdersPage(x, 'live')">Live</button>
                    <button class="dropdown-item" (click)="goOrdersPage(x, 'delivered')">Completed</button>
                    <button class="dropdown-item" (click)="goOrdersPage(x, 'cancelled')">Cancelled</button>
                  </div>
                </div>
                <!-- quotations -->
                <div *ngIf="commonService.store_details?.type=='quot_based'" class="btn-group w-md-100" ngbDropdown role="group" aria-label="Select all" placement="left">
                  <button class="btn btn-wide btn-primary w-md-100" ngbDropdownToggle>View Quotations</button>
                  <div class="dropdown-menu" ngbDropdownMenu>
                    <button class="dropdown-item" (click)="goQuotPage(x, 'live')">Live</button>
                    <button class="dropdown-item" (click)="goQuotPage(x, 'confirmed')">Confirmed</button>
                    <button class="dropdown-item" (click)="goQuotPage(x, 'cancelled')">Cancelled</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- PAGINATION CONTROL -->
    <div class="col-md-12 mt-3">
      <pagination-controls (pageChange)="page=$event; commonService.pageTop(0);" autoHide="true" responsive="true" maxSize="5"
        previousLabel="" nextLabel=""></pagination-controls>
    </div>

  </div>

  <div *ngIf="!list?.length" class="row">
    <div class="col-md-12 d-flex flex-column align-items-center justify-content-center no-rec-found-wrapper">
      <img class="no-rec-found" src="assets/images/no_records_found.png" alt="no-records">
      <p align="center">No data to display.</p>
    </div>
  </div>
</div>

<!-- ADD CUSTOMER -->
<ng-template #customerModal let-modal>
  <!-- header -->
	<div class="main-header-div d-flex align-items-center">
		<div class="m-header">
			<h4 class="modal-title" id="modal-basic-title"><b>Add New Customer</b></h4>
			<p class="m-0">Fill in the details of the customer</p>
		</div>
		<span class="m-close-btn"><a id="closeModal" (click)="modal.dismiss('Cross click');">CLOSE</a></span>
  </div>
  <!-- step 1 -->
  <form *ngIf="customerForm.step==1" autocomplete="off" (ngSubmit)="customerForm.step=2;" ngNativeValidate>
		<div class="modal-body">
      <div class="row">
        <div class="col-md-6 form-group mb-3">
          <div class="card p-3">
            <label>Name</label>
            <input type="text" name="name" [(ngModel)]="customerForm.name" #name="ngModel" class="form-control" required />
          </div>
        </div>
        <div class="col-md-6 form-group mb-3">
          <div class="card p-3">
            <label>Email</label>
            <input type="email" name="email" [(ngModel)]="customerForm.email" #email="ngModel" class="form-control" required />
          </div>
        </div>
        <div class="col-md-6 form-group mb-3">
          <div class="card p-3">
            <label>Mobile</label>
            <input type="text" name="mobile" [(ngModel)]="customerForm.mobile" #mobile="ngModel" class="form-control" required />
          </div>
        </div>
      </div>
		</div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-wide btn-primary">Next</button>
		</div>
  </form>
  <!-- step 2 -->
  <form *ngIf="customerForm.step==2" autocomplete="off" (ngSubmit)="onAddCustomer();" ngNativeValidate>
		<div class="modal-body lg-modal-body slim-scroll">
      <div class="card p-3 mb-4">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <div class="row address-radio-div">
              <div class="col-4 d-flex justify-content-center">
                <label class="radio radio-primary mt-2 mb-2">
                  <input type="radio" [(ngModel)]="customerForm.address_form.type" value="home" name="address_type" required>
                  Home <span class="checkmark"></span>
                </label>
              </div>
              <div class="col-4 d-flex justify-content-center">
                <label class="radio radio-primary mt-2 mb-2">
                  <input type="radio" [(ngModel)]="customerForm.address_form.type" value="office" name="address_type" required>
                  Office <span class="checkmark"></span>
                </label>
              </div>
              <div class="col-4 d-flex justify-content-center">
                <label class="radio radio-primary mt-2 mb-2">
                  <input type="radio" [(ngModel)]="customerForm.address_form.type" value="other" name="address_type" required>
                  Other <span class="checkmark"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div *ngIf="customerForm.address_form.type=='other'" class="col-lg-6 form-group mb-3">
          <div class="card p-3">
            <label>Address Title</label>
            <input type="text" name="other_place" [(ngModel)]="customerForm.address_form.other_place" #other_place="ngModel" class="form-control" required />
          </div>
        </div>
        <div class="col-lg-6 form-group mb-3">
          <div class="card p-3">
            <label>Full Name</label>
            <input type="text" name="full_name" [(ngModel)]="customerForm.address_form.name" #name="ngModel" class="form-control" required />
          </div>
        </div>
        <div class="col-lg-6 form-group mb-3">
          <div class="card p-3">
            <label>Country</label>
            <select name="country" class="form-control" (change)="customerForm.address_form.state=null; onCountryChange(customerForm.address_form.country);" [(ngModel)]="customerForm.address_form.country" required>
              <option *ngFor="let x of commonService.country_list | orderAsc: 'name';" [value]="x.name">{{x.name}}</option>
            </select>
          </div>
        </div>
        <div class="col-lg-6 form-group mb-3">
          <div class="card p-3">
            <div class="input-group">
              <div class="input-group-prepend flex-column w-40 w-sm-100 mr-3 c-sm-m-0 c-sm-mb-3">
                <label>Dial Code</label>
                <select name="dial_code" class="form-control" [(ngModel)]="customerForm.address_form.dial_code" #dial_code="ngModel" required>
                  <option *ngFor="let x of commonService.country_list | orderAsc: 'name';" [ngValue]="x.dial_code">{{x.dial_code}}</option>
                </select>
              </div>
              <div class="flex-column w-55 w-sm-100">
                <label>Mobile</label>
                <input type="text" name="mobile" [(ngModel)]="customerForm.address_form.mobile" #mobile="ngModel" class="form-control" required />
              </div>
            </div>
          </div>
        </div>
        <ng-container *ngFor="let field of address_fields; let j=index;">
          <ng-container *ngIf="field.keyword=='state'">
            <!-- if state list exist -->
            <div *ngIf="state_list?.length" class="col-lg-6 form-group mb-3">
              <div class="card p-3">
                <p>{{field.label}}:</p>
                <select class="form-control" name="field{{j}}" [(ngModel)]="field.value" required>
                  <option *ngFor="let x of state_list | orderAsc: 'name';" [ngValue]="x.name">{{x.name}}</option>
                </select>
              </div>
            </div>
            <!-- if not state list exist -->
            <div *ngIf="!state_list?.length" class="col-lg-6 form-group mb-3">
              <div class="card p-3">
                <p>{{field.label}}:</p>
                <input class="form-control" type="text" name="field{{j}}" [(ngModel)]="field.value" required>
              </div>
            </div>
          </ng-container>
          <div *ngIf="field.keyword!='state'" class="col-lg-6 form-group mb-3">
            <div class="card p-3">
              <p>{{field.label}}:</p>
              <input class="form-control" type="text" name="field{{j}}" [(ngModel)]="field.value" required>
            </div>
          </div>
        </ng-container>
        <div class="col-lg-6 form-group mb-3">
          <div class="card p-3">
            <label>Complete Address</label>
            <textarea name="completeAddress" [(ngModel)]="customerForm.address_form.address" #completeAddress="ngModel" class="form-control" required></textarea>
          </div>
        </div>
        <div class="col-lg-6 d-flex form-group mb-3">
          <div class="card w-100 p-3">
            <label>Landmark</label>
            <input type="text" name="landmark" [(ngModel)]="customerForm.address_form.landmark" #landmark="ngModel" class="form-control" />
          </div>
        </div>
      </div>
      <div class="mt-3" *ngIf="customerForm.error_msg" align="center">
        <p class="text-danger m-0">{{customerForm.error_msg}}</p>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-wide black-outline-btn" type="button" (click)="customerForm.step=1;">Back</button>
      <button type="submit" class="btn btn-wide btn-primary ladda-button m-1" [disabled]="customerForm.submit" [ladda]="customerForm.submit">Add</button>
    </div>
	</form>
</ng-template>

<!-- VIEW CUSTOMER -->
<ng-template #viewCustomerModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Customer Details</h4>
  </div>
  <div class="modal-body">
    <div class="col-md-12 list-item p-0">
      <div class="card o-hidden mb-4 d-flex flex-row">
        <div class="flex-grow-1 pl-2 d-flex">
          <div class="card-body align-self-center d-flex flex-column justify-content-between align-items-lg-center flex-lg-row">
            <p class="w-30 w-sm-100 m-b-0">{{selected_customer.name}}</p>
            <p class="w-30 w-sm-100 m-b-0">{{(selected_customer.address_list?.length)? selected_customer.address_list[0].address : 'Address not available'}}</p>
            <p class="w-30 w-sm-100 m-b-0">{{selected_customer.email}}</p>
            <p class="w-30 w-sm-100 m-b-0">{{(selected_customer.mobile)? selected_customer.mobile : 'Mobile not available'}}</p>
            <p class="w-0 w-sm-100 m-b-0"><i style="float:right;" (click)="modal.dismiss('Cross click'); onEditCustomer(selected_customer, editCustomerModal);" class="material-icons edit-icon">edit</i></p>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="selected_customer.address_list?.length" class="col-md-12 d-flex align-items-center">
      <p class="add-another x-close mb-0">ADDRESS LIST</p>
    </div>
    <div *ngFor="let x of selected_customer.address_list;" class="col-md-12 list-item p-0">
      <div class="card mb-4 mt-4 d-flex flex-row">
        <div class="flex-grow-1 pl-2 d-flex flex-column">
          <div *ngIf="x.billing_address || x.shipping_address" class="m-t--15">
            <p class="billing-add d-inline-block mr-2">
              {{ (x.billing_address && x.shipping_address)? 'Billing & Shipping': (x.billing_address)? 'Billing': 'Shipping' }} Address
            </p>
          </div>
          <div class="card-body d-flex flex-column justify-content-between align-items-lg-center flex-lg-row">
            <p class="w-30 w-sm-100 m-b-0">{{x.address}}</p>
            <p class="w-30 w-sm-100 m-b-0">{{x.name}}</p>
            <p class="w-30 w-sm-100 m-b-0">{{x.mobile}}</p>
            <p class="w-30 w-md-100 m-b-0">
              <i style="float:right;" (click)="modal.dismiss('Cross click'); selected_address=x; modalService.open(deleteAddressModal, { centered: true });" class="material-icons edit-icon ml-4">delete</i>
              <i style="float:right;" (click)="modal.dismiss('Cross click'); onEditAddress(x, addressModal);" class="material-icons edit-icon">edit</i>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!selected_customer.address_list?.length" class="col-md-12 d-flex flex-column align-items-center justify-content-center no-rec-found-wrapper">
      <img class="no-rec-found" src="assets/images/no_records_found.png" alt="no-records">
      <p align="center">No address found.</p>
    </div>
    <div class="col-md-12">
      <button type="button" (click)="modal.dismiss('Cross click'); onAddAddressModal(addressModal);" class="btn btn-wide btn-primary pull-right">Add New Address</button>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-wide black-outline-btn"
      (click)="modal.dismiss('Cross click');"> <span class="black-outline-txt">Close</span>
    </button>
  </div>
</ng-template>

<!-- EDIT CUSTOMER MODAL -->
<ng-template #editCustomerModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update</h4>
  </div>
  <form autocomplete="off" (ngSubmit)="onUpdateCustomer();" ngNativeValidate>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12 form-group mb-3">
          <label>Name</label>
          <input type="text" name="name" class="form-control" [(ngModel)]="editForm.name" #name="ngModel" required />
        </div>
        <div class="col-md-12 form-group mb-3">
          <label>Email</label>
          <input type="text" name="email" class="form-control" [(ngModel)]="editForm.email" #email="ngModel" required />
        </div>
        <div class="col-md-12 form-group mb-3">
          <label>Mobile</label>
          <input type="text" name="mobile" class="form-control" [(ngModel)]="editForm.mobile" #mobile="ngModel" appNumberOnly required />
        </div>
      </div>
      <div *ngIf="editForm.errorMsg">
        <p class="text-danger">{{ editForm.errorMsg }}</p>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" id="closeModal" class="btn btn-wide black-outline-btn"
        (click)="modal.dismiss('Cross click');"> <span class="black-outline-txt">Cancel</span>
      </button>
      <button type="submit" class="btn btn-wide btn-primary ladda-button m-1" [disabled]="btnLoader" [ladda]="btnLoader">Update</button>
    </div>
  </form>
</ng-template>

<!-- ADDRESS MODAL -->
<ng-template #addressModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ (addressFormType=='add')? 'Add New': 'Update' }} Address</h4>
  </div>
  <form autocomplete="off" (ngSubmit)="onAddressEvent();" ngNativeValidate>
    <div class="modal-body">
      <div class="card p-3 mb-4">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <div class="row address-radio-div">
              <div class="col-4 d-flex justify-content-center">
                <label class="radio radio-primary mt-2 mb-2">
                  <input type="radio" [(ngModel)]="addressForm.type" value="home" name="address_type" required>
                  Home <span class="checkmark"></span>
                </label>
              </div>
              <div class="col-4 d-flex justify-content-center">
                <label class="radio radio-primary mt-2 mb-2">
                  <input type="radio" [(ngModel)]="addressForm.type" value="office" name="address_type" required>
                  Office <span class="checkmark"></span>
                </label>
              </div>
              <div class="col-4 d-flex justify-content-center">
                <label class="radio radio-primary mt-2 mb-2">
                  <input type="radio" [(ngModel)]="addressForm.type" value="other" name="address_type" required>
                  Other <span class="checkmark"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="selected_customer?.address_list?.length" class="card p-3 mb-4">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <div class="row address-radio-div">
              <div class="col-6 d-flex justify-content-center">
                <label class="checkbox checkbox-primary">
                  <input class="form-check-input" type="checkbox" name="billing_address" [(ngModel)]="addressForm.billing_address" #billing_address="ngModel"
                  [checked]="addressForm.exist_billing" [disabled]="addressForm.exist_billing">
                  <span>{{ (addressForm.exist_billing)? '': 'Mark as' }} Default Billing Address</span>
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="col-6 d-flex justify-content-center">
                <label class="checkbox checkbox-primary">
                  <input class="form-check-input" type="checkbox" name="shipping_address" [(ngModel)]="addressForm.shipping_address" #shipping_address="ngModel"
                  [checked]="addressForm.exist_shipping" [disabled]="addressForm.exist_shipping">
                  <span>{{ (addressForm.exist_shipping)? '': 'Mark as' }} Default Shipping Address</span>
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div *ngIf="addressForm.type=='other'" class="col-lg-6 form-group mb-3">
          <div class="card p-3">
            <label>Address Title</label>
            <input type="text" name="other_place" [(ngModel)]="addressForm.other_place" #other_place="ngModel" class="form-control" required />
          </div>
        </div>
        <div class="col-lg-6 form-group mb-3">
          <div class="card p-3">
            <label>Full Name</label>
            <input type="text" name="full_name" [(ngModel)]="addressForm.name" #name="ngModel" class="form-control" required />
          </div>
        </div>
        <div class="col-lg-6 form-group mb-3">
          <div class="card p-3">
            <label>Country</label>
            <select name="country" class="form-control" (change)="addressForm.state=null; onEditCountryChange(addressForm.country);" [(ngModel)]="addressForm.country" required>
              <option *ngFor="let x of commonService.country_list | orderAsc: 'name';" [value]="x.name">{{x.name}}</option>
            </select>
          </div>
        </div>
        <div class="col-lg-6 form-group mb-3">
          <div class="card p-3">
            <div class="input-group">
              <div class="input-group-prepend flex-column w-40 w-sm-100 mr-3 c-sm-m-0 c-sm-mb-3">
                <label>Dial Code</label>
                <select name="dial_code" class="form-control" [(ngModel)]="addressForm.dial_code" #dial_code="ngModel" required>
                  <option *ngFor="let x of commonService.country_list | orderAsc: 'name';" [ngValue]="x.dial_code">{{x.dial_code}}</option>
                </select>
              </div>
              <div class="flex-column w-55 w-sm-100">
                <label>Mobile</label>
                <input type="text" name="mobile" [(ngModel)]="addressForm.mobile" #mobile="ngModel" class="form-control" required />
              </div>
            </div>
          </div>
        </div>
        <ng-container *ngFor="let field of address_fields; let j=index;">
          <ng-container *ngIf="field.keyword=='state'">
            <!-- if state list exist -->
            <div *ngIf="state_list?.length" class="col-lg-6 form-group mb-3">
              <div class="card p-3">
                <p>{{field.label}}:</p>
                <select class="form-control" name="field{{j}}" [(ngModel)]="field.value" required>
                  <option *ngFor="let x of state_list | orderAsc: 'name';" [ngValue]="x.name">{{x.name}}</option>
                </select>
              </div>
            </div>
            <!-- if not state list exist -->
            <div *ngIf="!state_list?.length" class="col-lg-6 form-group mb-3">
              <div class="card p-3">
                <p>{{field.label}}:</p>
                <input class="form-control" type="text" name="field{{j}}" [(ngModel)]="field.value" required>
              </div>
            </div>
          </ng-container>
          <div *ngIf="field.keyword!='state'" class="col-lg-6 form-group mb-3">
            <div class="card p-3">
              <p>{{field.label}}:</p>
              <input class="form-control" type="text" name="field{{j}}" [(ngModel)]="field.value" required>
            </div>
          </div>
        </ng-container>
        <div class="col-lg-6 form-group mb-3">
          <div class="card p-3">
            <label>Complete Address</label>
            <textarea name="completeAddress" [(ngModel)]="addressForm.address" #completeAddress="ngModel" class="form-control" required></textarea>
          </div>
        </div>
        <div class="col-lg-6 d-flex form-group mb-3">
          <div class="card w-100 p-3">
            <label>Landmark</label>
            <input type="text" name="landmark" [(ngModel)]="addressForm.landmark" #landmark="ngModel" class="form-control" />
          </div>
        </div>
      </div>
      <div class="mt-3" *ngIf="addressForm.error_msg" align="center">
        <p class="text-danger m-0">{{addressForm.error_msg}}</p>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" id="closeModal" class="btn btn-wide black-outline-btn"
        (click)="modal.dismiss('Cross click');"> <span class="black-outline-txt">Cancel</span>
      </button>
      <button type="submit" class="btn btn-wide btn-primary ladda-button m-1" [disabled]="btnLoader" [ladda]="btnLoader">
        {{ (addressFormType=='add')? 'Add': 'Update' }}
      </button>
    </div>
  </form>
</ng-template>

<!-- DELETE ADDRESS MODAL -->
<ng-template #deleteAddressModal let-modal>
  <div class="modal-body">
    <p><strong>Are you sure you want to remove this address?</strong></p>
    <div *ngIf="deleteForm?.errorMsg">
      <p class="text-danger">{{ deleteForm.errorMsg }}</p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" id="closeModal" class="btn btn-wide black-outline-btn"
      (click)="modal.dismiss('Cross click');">
     <span class="black-outline-txt">No</span>
    </button>
    <button type="button" (click)="onDeleteAddress();" class="btn btn-wide orng-outline-btn">
     <span class="orng-outline-txt ladda-button m-1" [disabled]="btnLoader" [ladda]="btnLoader">Yes</span>
    </button>
  </div>
</ng-template>