<div *ngIf="pageLoader" class="row">
  <app-spinner></app-spinner>
</div>

<div *ngIf="!pageLoader">
  <div class="breadcrumb with-back-btn">
    <div class="row">
      <div class="col-md-12 p-0">
        <div class="row">
          <div class="col-md-10 d-flex justify-content-end align-items-start flex-column">
            <h1>Wallet</h1>
            <ul>
              <li>View and top-up your wallet</li>
            </ul>
          </div>
          <div class="col-md-2 mt-3" align="right">
            <div class="top-filter-sec">
              <h6 class="mr-2">{{balance | currency: commonService.store_currency?.country_code}}</h6>
              <button type="button" class="btn btn-primary pull-right" (click)="orderForm={}; modalService.open(orderModal);">Top Up</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="separator-breadcrumb border-top"></div>

  <div class="top-filter-sec">
    <div class="row mb-4">
      <div class="col-md-3 col-6">
        <div class="form-group">
          <input type="text" placeholder="Select Date" class="form-control" name="from_date"
            [(ngModel)]="filterForm.from_date" (ngModelChange)="getList();" bsDatepicker
            [bsConfig]="{ showWeekNumbers: false, dateInputFormat: 'DD-MM-YYYY' }" />
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div class="form-group">
          <input type="text" placeholder="Select Date" class="form-control" name="to_date"
            [(ngModel)]="filterForm.to_date" (ngModelChange)="getList();" bsDatepicker
            [minDate]="filterForm.from_date" [bsConfig]="{ showWeekNumbers: false, dateInputFormat: 'DD-MM-YYYY' }" />
        </div>
      </div>
    </div>
  </div>

  <!-- DATA LIST -->
  <div *ngIf="list?.length" class="list-horizontal">
    <div class="data-list-card-wrapper">
      <div class="data-list-card-inner">
        <div class="row m-0">

          <!-- SINGLE LIST ITEM -->
          <div *ngFor="let x of list | orderDesc:'_id' | paginate: { itemsPerPage: pageSize, currentPage: page }; let i=index;"
            class="col-md-12 list-item data-list-card" [@animate]="{value:'*',params:{delay: (i*100)+'ms', y:'50px'}}">

            <div class="d-flex flex-row">
              <div class="flex-grow-1 d-flex">
                <div class="card-body align-self-center d-flex flex-column justify-content-between align-items-lg-center flex-lg-row">
                  <!-- OTHER DATA -->
                  <p class="m-0 w-20 w-sm-100 m-b-0">{{x.order_number}}</p>
                  <p class="m-0 w-10 w-sm-100 m-b-0">{{x.final_price | currency: commonService.store_currency?.country_code}}</p>
                  <p class="m-0 w-20 w-sm-100 m-b-0">
                    <span class="badge" [ngClass]="(x.order_type=='credit')? 'badge-success badge-green-outline': 'badge-warning badge-red-outline'">
                      <span class="badge-green-outline-txt">{{x.order_type | titlecase}}</span>
                    </span>
                  </p>
                  <p class="m-0 w-20 w-sm-100 m-b-0">{{x.order_info}}</p>
                  <p class="m-0 w-10 w-sm-100 m-b-0">{{x.balance | currency: commonService.store_currency?.country_code}}</p>
                  <p class="m-0 w-20 w-sm-100 m-b-0">{{x.created_on | date: "dd MMM y hh:mm a"}}</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- PAGINATION CONTROL -->
    <div class="col-md-12 mt-3">
      <pagination-controls (pageChange)="page=$event; commonService.pageTop(0);" autoHide="true" responsive="true" maxSize="5"
        previousLabel="" nextLabel=""></pagination-controls>
    </div>
  </div>

  <div *ngIf="!list?.length" class="row">
    <div class="col-md-12 d-flex flex-column align-items-center justify-content-center no-rec-found-wrapper">
      <img class="no-rec-found" src="assets/images/no_records_found.png" alt="no-records">
      <p align="center">No data to display.</p>
    </div>
  </div>
</div>

<!-- ORDER MODAL -->
<ng-template #orderModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Wallet Top Up</h4>
  </div>
  <form autocomplete="off" (ngSubmit)="onTopup();" ngNativeValidate>
    <div class="modal-body">
      <div class="form-group">
        <div class="row">
          <div class="col-md-12 form-group mb-3">
            <label>Price</label>
            <input type="number" name="price" class="form-control" min="100" [(ngModel)]="orderForm.price" (input)="orderForm.errorMsg=null;" #name="ngModel" required />
          </div>
        </div>
      </div>
      <div *ngIf="orderForm.errorMsg">
        <p class="text-danger">{{ orderForm.errorMsg }}</p>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" id="closeModal" class="btn btn-wide black-outline-btn" (click)="modal.dismiss('Cross click');">
        <span class="black-outline-txt">Cancel</span>
      </button>
      <button type="submit" class="btn btn-wide btn-primary ladda-button m-1" [disabled]="orderForm.submit"
        [ladda]="orderForm.submit">Submit</button>
    </div>
  </form>
</ng-template>

<!-- razorpay form -->
<form #razorpayForm method="POST" action="{{environment.razorpay_payment_url}}">
  <input type="hidden" name="key_id" value="{{razorpayOptions.key}}">
  <input type="hidden" name="order_id" value="{{razorpayOptions.razorpay_order_id}}">
  <input type="hidden" name="name" value="{{razorpayOptions.store_name}}">
  <input type="hidden" name="description" value="{{razorpayOptions.description}}">
  <input type="hidden" name="prefill[name]" value="{{razorpayOptions.customer_name}}">
  <input type="hidden" name="prefill[email]" value="{{razorpayOptions.customer_email}}">
  <input type="hidden" name="prefill[contact]" value="{{razorpayOptions.customer_mobile}}">
  <input type="hidden" name="notes[my_order_id]" value="{{razorpayOptions.my_order_id}}">
  <input type="hidden" name="notes[my_order_type]" value="{{razorpayOptions.my_order_type}}">
  <input type="hidden" name="callback_url" value="{{environment.razorpay_redirect_url}}">
  <input type="hidden" name="cancel_url" value="{{environment.base_url+router.url}}">
</form>