<div *ngIf="pageLoader" class="row">
  <app-spinner></app-spinner>
</div>

<div *ngIf="!pageLoader">
  <div class="breadcrumb with-back-btn">
    <div class="row">
      <div class="col-md-8">
        <h1>Profile</h1>
        <ul><li>View and manage your profile information</li></ul>
      </div>
      <div *ngIf="commonService.deployInProgress" class="col-md-4 d-flex align-items-center justify-content-end mt-sm-15">
        <button type="button" class="btn btn-primary" (click)="commonService.goBack();">Go Back</button>
      </div>
    </div>
  </div>
  <div class="separator-breadcrumb border-top"></div>
</div>