<div *ngIf="pageLoader" class="row">
  <app-spinner></app-spinner>
</div>

<div *ngIf="!pageLoader">
  <div class="breadcrumb">
    <h1>Blog</h1>
    <ul><li>Add and edit blogs</li></ul>
  </div>

  <div class="separator-breadcrumb border-top"></div>
  <div class="top-filter-sec">
  <div class="row mb-4">
    <div class="col-6">
      <button type="button" class="btn btn-primary" (click)="blogForm={ step_num: 1, form_type: 'add', created_on: currentDate }; modalService.open(blogModal, { size: 'lg'});">Add New Blog</button>
    </div>
    <!-- search box -->
    <div class="col-md-6 mt-sm-15">
      <div class="form-group">
        <input type="text" name="search_bar" placeholder="Search" class="form-control" [(ngModel)]="search_bar" />
      </div>
    </div>
  </div>
  </div>

  <!-- DATA LIST -->
  <div class="row list-horizontal">
    <div *ngFor="let x of list | orderDesc:'created_on' | fieldSearch:'name':search_bar | paginate: { itemsPerPage: pageSize, currentPage: page }; let i = index;" 
      class="list-item col-md-12" [@animate]="{value:'*',params:{delay: (i*100)+'ms', y:'50px'}}" >

      <div class="card o-hidden mb-4 d-flex flex-row">
        <div class="list-thumb d-flex align-items-center">
          <img [src]="imgBaseUrl+x.image" alt="">
        </div>
        <div class="flex-grow-1 pl-2 d-flex">
          <div class="card-body align-self-center d-flex flex-column justify-content-between align-items-lg-center flex-lg-row">
            <p class="w-30 w-sm-100 m-b-0">{{x.name}}</p>
            <p class="m-0 text-muted text-small w-15 w-sm-100">{{x.author}}</p>
            <p class="m-0 text-muted text-small w-15 w-sm-100">{{x.created_on | date: "dd MMM y"}}</p>
            <p class="m-0 text-muted text-small w-15 w-sm-100 d-lg-block item-actions">
              <button class="btn btn-wide black-outline-btn w-md-100 mr-3" (click)="onEdit(x, blogModal);">
               <span class="black-outline-txt">Edit</span>
              </button>
              <button *ngIf="x.status!='enabled'" class="btn btn-wide blue-outline-btn w-md-100 mr-3" (click)="onChangeStatus(x, 'enable', statusModal);">
               <span class="blue-outline-txt">Enable</span>
              </button>
              <button *ngIf="x.status=='enabled'" class="btn btn-wide orng-outline-btn w-md-100 mr-3" (click)="onChangeStatus(x, 'disable', statusModal);">
                <span class="orng-outline-txt">Disable</span>
              </button>
              <button class="btn orng-outline-btn w-md-100" (click)="deleteForm = x; modalService.open(deleteModal, { centered: true });">
               <span class="orng-outline-txt">Remove</span>
              </button>
            </p>
          </div>
        </div>
      </div>

    </div>
    <!-- PAGINATION CONTROL -->
    <div class="col-md-12 mt-3" *ngIf="list?.length">
      <pagination-controls (pageChange)="page=$event; commonService.pageTop(0);" autoHide="true" responsive="true" maxSize="5" previousLabel="" nextLabel=""></pagination-controls>
    </div>
  </div>

  <div *ngIf="!list?.length" class="row">
    <div class="col-md-12 d-flex flex-column align-items-center justify-content-center no-rec-found-wrapper">
      <img class="no-rec-found" src="assets/images/no_records_found.png" alt="no-records">
      <p align="center">No data to display.</p>
    </div>
  </div>
</div>

<!-- ADD MODAL -->
<ng-template #blogModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ (blogForm?.form_type=='add')? 'Add': 'Update' }} Blog (Step {{blogForm.step_num}} of 2)</h4>
    <p *ngIf="blogForm.step_num==1">{{ (blogForm?.form_type=='add')? 'Add': 'Update' }} your blog details</p>
    <p *ngIf="blogForm.step_num==2">{{ (blogForm?.form_type=='add')? 'Add': 'Update' }} your blog's image</p>
  </div>
  <!-- Step 1 -->
  <form *ngIf="blogForm.step_num==1" autocomplete="off" (ngSubmit)="blogForm.step_num=2;" ngNativeValidate>
    <div class="modal-body">
      <div class="form-group">
        <div class="row">
          <div class="col-md-6 form-group mb-3">
            <label>Author</label>
            <input type="text" name="author" class="form-control" [(ngModel)]="blogForm.author" #author="ngModel" required />
          </div>
          <div class="col-md-6 form-group mb-3">
            <label>Created On</label>
            <input type="text" placeholder="Select Date" class="form-control" name="created_on" autocomplete="off" [maxDate]="currentDate"
            [(ngModel)]="blogForm.created_on" bsDatepicker [bsConfig]="{ showWeekNumbers: false, dateInputFormat: 'DD-MM-YYYY' }" required />
          </div>
          <div class="col-md-12 form-group mb-3">
            <label>Title</label>
            <input type="text" name="name" class="form-control" [(ngModel)]="blogForm.name" #name="ngModel" required />
          </div>
          <div class="col-md-12 form-group mb-3 quill-mb-5">
            <label>Description</label>
            <quill-editor class="rounded" [placeholder]="null" [(ngModel)]="blogForm.description" [ngModelOptions]="{standalone: true}"></quill-editor>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-wide black-outline-btn" (click)="modal.dismiss('Cross click');">
       <span class="black-outline-txt">Cancel</span>
      </button>
      <button type="submit" class="btn btn-wide btn-primary">Next</button>
    </div>
  </form>
  <!-- Step 2 -->
  <form *ngIf="blogForm.step_num==2" autocomplete="off" (ngSubmit)="onSubmit(blogModal);" ngNativeValidate>
    <div class="modal-body">
      <div class="form-group">
        <div class="row">
          <div class="col-md-12" align="center">
            <p>Photo Resolution: 900x600</p>
            <div *ngIf="blogForm.image">
              <span (click)="blogForm.img_change=null; blogForm.image=null;" class="material-icons item-close float-right" aria-hidden="true">close</span>
              <img *ngIf="blogForm.img_change" [src]="blogForm.image" height="100px;" width="auto;">
              <img *ngIf="!blogForm.img_change" [src]="imgBaseUrl+blogForm.image" height="100px;" width="auto;">
            </div>
            <div *ngIf="!blogForm.image">
              <label>
                <div>
                  <i class="material-icons add-img">add_photo_alternate</i>
                  <p>Click to upload image</p>
                </div>
                <input type="file" name="image" style="display: none;" (change)="fileChangeListener($event);" accept="image/jpeg, image/png" />
              </label>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="blogForm.errorMsg"><p class="text-danger">{{ blogForm.errorMsg }}</p></div>
    </div>
    <div class="modal-footer">
      <button type="button" style="display: none;" id="closeModal" (click)="modal.dismiss('Cross click');"></button>
      <button type="button" class="btn btn-wide black-outline-btn" (click)="blogForm.step_num=1;">
        <span class="black-outline-txt">Go Back</span>
      </button>
      <button type="submit" class="btn btn-wide btn-primary ladda-button m-1" [disabled]="blogForm.submit" [ladda]="blogForm.submit">
        {{ (blogForm?.form_type=='add')? 'Add': 'Update' }}
      </button>
    </div>
  </form>
</ng-template>

<!-- DELETE MODAL -->
<ng-template #deleteModal let-modal>
  <div class="modal-body">
    <p><strong>Are you sure you want to remove <span class="txt-grdint-highlight">"{{deleteForm.name}}"</span> blog?</strong></p>
    <div *ngIf="deleteForm.errorMsg"><p class="text-danger">{{ deleteForm.errorMsg }}</p></div>
  </div>
  <div class="modal-footer">
    <button type="button" id="closeModal" class="btn btn-wide black-outline-btn" (click)="modal.dismiss('Cross click');">
     <span class="black-outline-txt">No</span> 
    </button>
    <button type="button" (click)="onDelete();" class="btn btn-wide orng-outline-btn">
     <span class="black-outline-txt">Yes</span>
    </button>
  </div>
</ng-template>

<!-- STATUS MODAL -->
<ng-template #statusModal let-modal>
  <div class="modal-body">
    <p><strong>Are you sure you want to {{blogForm.change_status}} the <span class="txt-grdint-highlight">"{{blogForm.name}}"</span> blog?</strong></p>
    <div *ngIf="blogForm.errorMsg"><p class="text-danger">{{ blogForm.errorMsg }}</p></div>
  </div>
  <div class="modal-footer">
    <button type="button" id="closeModal" class="btn btn-wide black-outline-btn" (click)="modal.dismiss('Cross click');">
     <span class="black-outline-txt">No</span> 
    </button>
    <button type="button" (click)="onUpdateStatus();" class="btn btn-wide btn-primary">Yes</button>
  </div>
</ng-template>