<div *ngIf="pageLoader" class="row">
  <app-spinner></app-spinner>
</div>

<div *ngIf="!pageLoader">
  <div class="breadcrumb">
    <h1>Blog</h1>
    <ul><li>Add and edit blogs</li></ul>
  </div>

  <div class="separator-breadcrumb border-top"></div>
  <div class="top-filter-sec">
  <div class="row mb-4">
    <div class="col-6">
      <button type="button" class="btn btn-primary" (click)="step_num=1; addForm={}; btnLoader=false; modalService.open(addModal, { size: 'lg'});">Add New Blog</button>
    </div>
    <!-- search box -->
    <div *ngIf="list?.length" class="col-md-6 mt-sm-15">
      <div class="form-group">
        <input type="text" name="search_bar" placeholder="Search" class="form-control" [(ngModel)]="search_bar" />
      </div>
    </div>
  </div>
  </div>

  <!-- DATA LIST -->
  <div class="row list-horizontal">
    <div *ngFor="let x of list | orderDesc:'created_on' | fieldSearch:'name':search_bar | paginate: { itemsPerPage: pageSize, currentPage: page }; let i = index;" 
      class="list-item col-md-12" [@animate]="{value:'*',params:{delay: (i*100)+'ms', y:'50px'}}" >

      <div class="card o-hidden mb-4 d-flex flex-row">
        <div class="list-thumb d-flex align-items-center">
          <img [src]="imgBaseUrl+x.image" alt="">
        </div>
        <div class="flex-grow-1 pl-2 d-flex">
          <div class="card-body align-self-center d-flex flex-column justify-content-between align-items-lg-center flex-lg-row">
            <p class="w-30 w-sm-100 m-b-0">{{x.name}}</p>
            <p class="m-0 text-muted text-small w-15 w-sm-100">{{x.author}}</p>
            <p class="m-0 text-muted text-small w-15 w-sm-100">{{x.created_on | date: "dd MMM y"}}</p>
            <p class="m-0 text-muted text-small w-15 w-sm-100 d-lg-block item-actions">
              <button class="btn btn-wide black-outline-btn w-md-100 mr-3" (click)="onEdit(x, editModal);">
               <span class="black-outline-txt">Edit</span>
              </button>
              <button *ngIf="x.status!='enabled'" class="btn btn-wide blue-outline-btn w-md-100 mr-3" (click)="onChangeStatus(x, 'enable', statusModal);">
               <span class="blue-outline-txt">Enable</span>
              </button>
              <button *ngIf="x.status=='enabled'" class="btn btn-wide orng-outline-btn w-md-100 mr-3" (click)="onChangeStatus(x, 'disable', statusModal);">
                <span class="orng-outline-txt">Disable</span>
              </button>
              <button class="btn orng-outline-btn w-md-100" (click)="deleteForm = x; modalService.open(deleteModal, { centered: true });">
               <span class="orng-outline-txt">Remove</span>
              </button>
            </p>
          </div>
        </div>
      </div>

    </div>
    <!-- PAGINATION CONTROL -->
    <div class="col-md-12 mt-3" *ngIf="list?.length">
      <pagination-controls (pageChange)="page=$event; commonService.pageTop(0);" autoHide="true" responsive="true" maxSize="5" previousLabel="" nextLabel=""></pagination-controls>
    </div>
  </div>

  <div *ngIf="!list?.length" class="row">
    <div class="col-md-12">
      <p align="center">No records found</p>
    </div>
  </div>
</div>

<!-- ADD MODAL -->
<ng-template #addModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Blog (Step {{step_num}} of 2)</h4>
    <p *ngIf="step_num==1">Add your blog details</p>
    <p *ngIf="step_num==2">Add your blog's image</p>
  </div>
  <!-- Step 1 -->
  <form *ngIf="step_num==1" autocomplete="off" (ngSubmit)="addForm.image=null; step_num=2;" ngNativeValidate>
    <div class="modal-body">
      <div class="form-group">
        <div class="row">
          <div class="col-md-6 form-group mb-3">
            <label for="name">Title</label>
            <input type="text" name="name" id="name" class="form-control" [(ngModel)]="addForm.name" #name="ngModel" required />
          </div>
          <div class="col-md-6 form-group mb-3">
            <label for="author">Author</label>
            <input type="text" name="author" id="author" class="form-control" [(ngModel)]="addForm.author" #author="ngModel" required />
          </div>
          <div class="col-md-12 form-group mb-3">
            <label for="description">Description</label>
            <quill-editor class="rounded" [placeholder]="null" [(ngModel)]="addForm.description" [ngModelOptions]="{standalone: true}"></quill-editor>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-wide black-outline-btn" (click)="modal.dismiss('Cross click');">
       <span class="black-outline-txt">Cancel</span>
      </button>
      <button type="submit" class="btn btn-wide btn-primary">Next</button>
    </div>
  </form>
  <!-- Step 2 -->
  <form *ngIf="step_num==2" autocomplete="off" (ngSubmit)="onAdd(addModal);" ngNativeValidate>
    <div class="modal-body">
      <div class="form-group">
        <div class="row">
          <div class="col-md-12" align="center">
            <p>Photo Resolution: 900x600</p>
            <div *ngIf="addForm.image">
              <span (click)="addForm.img_change=null; addForm.image=null" class="material-icons item-close float-right" aria-hidden="true">close</span>
              <!-- <p class="x-close" *ngIf="addForm.image" style="float: right;" (click)="addForm.img_change=null; addForm.image=null">X</p> -->
              <img [src]="addForm.image" height="100px;" width="auto;">
            </div>
            <div *ngIf="!addForm.image">
              <label>
                <div>
                  <i class="material-icons add-img">add_photo_alternate</i>
                  <p>Click to upload image</p>
                </div>
                <input type="file" name="image" style="display: none;" (change)="fileChangeListener('add', $event)" accept="image/jpeg, image/png" />
              </label>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="addForm.errorMsg"><p class="text-danger">{{ addForm.errorMsg }}</p></div>
    </div>
    <div class="modal-footer">
      <button type="button" style="display: none;" id="closeModal" (click)="modal.dismiss('Cross click');"></button>
      <button type="button" class="btn btn-wide black-outline-btn" (click)="step_num=1;">
       <span class="black-outline-txt">Go Back</span>
      </button>
      <button type="submit" class="btn btn-wide btn-primary ladda-button m-1" [disabled]="btnLoader" [ladda]="btnLoader">Add</button>
    </div>
  </form>
</ng-template>

<!-- EDIT MODAL -->
<ng-template #editModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Blog (Step {{step_num}} of 2)</h4>
    <p *ngIf="step_num==1">Edit your blog details</p>
    <p *ngIf="step_num==2">Edit your blog's image</p>
  </div>
  <!-- Step 1 -->
  <form *ngIf="step_num==1" autocomplete="off" (ngSubmit)="step_num=2;" ngNativeValidate>
    <div class="modal-body">
      <div class="form-group">
        <div class="row">
          <div class="col-md-6 form-group mb-3">
            <label for="name">Title</label>
            <input type="text" name="name" id="name" class="form-control" [(ngModel)]="editForm.name" #name="ngModel" required />
          </div>
          <div class="col-md-6 form-group mb-3">
            <label for="author">Author</label>
            <input type="text" name="author" id="author" class="form-control" [(ngModel)]="editForm.author" #author="ngModel" required />
          </div>
          <div class="col-md-12 form-group mb-3">
            <label for="description">Description</label>
            <quill-editor class="rounded" [placeholder]="null" [(ngModel)]="editForm.description" [ngModelOptions]="{standalone: true}"></quill-editor>
          </div>
          <div *ngIf="editForm?.seo_details?.modified" class="col-md-12 form-group mb-3">
            <label class="checkbox checkbox-primary">
              <input class="form-check-input" type="checkbox" name="update_seo" [(ngModel)]="editForm.update_seo" #update_seo="ngModel">
              <span>Update SEO Details</span>
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-wide black-outline-btn" (click)="modal.dismiss('Cross click');">
       <span class="black-outline-txt">Cancel</span>
      </button>
      <button type="submit" class="btn btn-wide btn-primary">Next</button>
    </div>
  </form>
  <!-- Step 2 -->
  <form *ngIf="step_num==2" autocomplete="off" (ngSubmit)="onUpdate(editModal);" ngNativeValidate>
    <div class="modal-body">
      <div class="form-group">
        <div class="row">
          <div class="col-md-12" align="center">
            <p>Photo Resolution: 900x600</p>
            <div *ngIf="editForm.image">
              <span (click)="editForm.img_change=null; editForm.image=null;" class="material-icons item-close float-right" aria-hidden="true">close</span>
              <!-- <p class="x-close" *ngIf="editForm.image" style="float: right;" (click)="editForm.img_change=null; editForm.image=null">X</p> -->
              <img *ngIf="editForm.img_change" [src]="editForm.image" height="100px;" width="auto;">
              <img *ngIf="!editForm.img_change" [src]="imgBaseUrl+editForm.image" height="100px;" width="auto;">
            </div>
            <div *ngIf="!editForm.image">
              <label>
                <div>
                  <i class="material-icons add-img">add_photo_alternate</i>
                  <p>Click to upload image</p>
                </div>
                <input type="file" name="image" style="display: none;" (change)="fileChangeListener('edit', $event)" accept="image/jpeg, image/png" />
              </label>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="editForm.errorMsg"><p class="text-danger">{{ editForm.errorMsg }}</p></div>
    </div>
    <div class="modal-footer">
      <button type="button" style="display: none;" id="closeModal" (click)="modal.dismiss('Cross click');"></button>
      <button type="button" class="btn btn-wide black-outline-btn" (click)="step_num=1;">
       <span class="black-outline-txt">Go Back</span>
      </button>
      <button type="submit" class="btn btn-wide btn-primary ladda-button m-1" [disabled]="btnLoader" [ladda]="btnLoader">Update</button>
    </div>
  </form>
</ng-template>

<!-- DELETE MODAL -->
<ng-template #deleteModal let-modal>
  <div class="modal-body">
    <p><strong>Are you sure you want to remove <span class="txt-grdint-highlight">"{{deleteForm.name}}"</span> blog?</strong></p>
    <div *ngIf="deleteForm.errorMsg"><p class="text-danger">{{ deleteForm.errorMsg }}</p></div>
  </div>
  <div class="modal-footer">
    <button type="button" id="closeModal" class="btn btn-wide black-outline-btn" (click)="modal.dismiss('Cross click');">
     <span class="black-outline-txt">No</span> 
    </button>
    <button type="button" (click)="onDelete();" class="btn btn-wide orng-outline-btn">
     <span class="black-outline-txt">Yes</span>
    </button>
  </div>
</ng-template>

<!-- STATUS MODAL -->
<ng-template #statusModal let-modal>
  <div class="modal-body">
    <p><strong>Are you sure you want to {{editForm.change_status}} the <span class="txt-grdint-highlight">"{{editForm.name}}"</span> blog?</strong></p>
    <div *ngIf="editForm.errorMsg"><p class="text-danger">{{ editForm.errorMsg }}</p></div>
  </div>
  <div class="modal-footer">
    <button type="button" id="closeModal" class="btn btn-wide black-outline-btn" (click)="modal.dismiss('Cross click');">
     <span class="black-outline-txt">No</span> 
    </button>
    <button type="button" (click)="onUpdateStatus();" class="btn btn-wide btn-primary">Yes</button>
  </div>
</ng-template>