<div>
  <div class="breadcrumb with-back-btn">
    <div class="row">
      <div class="col-md-8">
        <h1>Store Logo</h1>
        <ul><li>Update your store logo</li></ul>
      </div>
      <div class="col-md-4 d-flex align-items-center justify-content-end mt-sm-15" align="right">
        <button type="button" class="btn btn-primary" (click)="findColors();">Find Colors</button>
      </div>
    </div>
  </div>
  <div class="separator-breadcrumb border-top"></div>

  <div class="row">
    <div class="col-md-4 d-flex"></div>
    <div class="col-md-4 d-flex">
      <div class="card setting-card w-100 p-3 mt-3 mb-3 cursor">
        <div class="d-flex align-items-center justify-content-center flex-column">
          <ng-container *ngIf="logoForm.img_change">
            <span (click)="logoForm={};" class="material-icons item-close float-right" aria-hidden="true">close</span>
            <img [src]="logoForm.image" height="150px;" width="auto;">
          </ng-container>
          <img *ngIf="!logoForm.img_change" [src]="storeLogo" height="150px;" width="auto;">
        </div>
        <div class="h-100 d-flex align-items-end mt-3">
          <div class="custom-file mt-2">
            <input type="file" name="store_logo" class="custom-file-input" (change)="fileChangeListener($event);" accept="image/png" required>
            <label class="custom-file-label">Choose file</label>
          </div>
        </div>
        <div>
          <button type="button" (click)="uploadLogo();" class="btn btn-wide btn-primary ladda-button mt-3 w-100"
          [disabled]="logoForm.submit || !logoForm.image" [ladda]="logoForm.submit">Update</button>
        </div>
      </div>
    </div>
  </div>

  <ng-container *ngIf="colorList.length">
    <div class="separator-breadcrumb border-top mt-4"></div>
    <div class="row">
      <div class="col-md-12">
        <div class="card card-in-card p-3">
          <h5>Choose Primary Color</h5>
          <div class="row ml-3 mt-3">
            <div class="col-lg-2 col-md-3 form-group mb-3" *ngFor="let x of colorList; let i=index;">
              <label class="radio radio-success">
                <input type="radio" name="primary" [value]="x" [checked]="i===0">
                <span [ngStyle]="{'background': x, 'border-radius': '15px', 'color': x}">0000000</span>
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 mt-3">
        <div class="card card-in-card p-3">
          <h5>Choose Secondary Color</h5>
          <div class="row ml-3 mt-3">
            <div class="col-lg-2 col-md-3 form-group mb-3" *ngFor="let x of colorList; let i=index;">
              <label class="radio radio-success">
                <input type="radio" name="secondary" [value]="x" [checked]="i===0">
                <span [ngStyle]="{'background': x, 'border-radius': '15px', 'color': x}">0000000</span>
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 mt-3">
        <button type="button" class="btn btn-wide btn-primary">Update</button>
      </div>
    </div>
  </ng-container>

</div>