<div *ngIf="pageLoader" class="row">
  <app-spinner></app-spinner>
</div>

<div *ngIf="!pageLoader">
  <div class="breadcrumb">
    <h1>Currencies</h1>
    <ul>
      <li>View and manage your currency types</li>
    </ul>
  </div>
  <div class="separator-breadcrumb border-top"></div>

  <!-- DATA LIST -->
  <div *ngIf="commonService.currency_types?.length" class="row" class="list-horizontal">

    <!-- SINGLE LIST ITEM -->
    <div *ngFor="let x of commonService.currency_types | paginate: { itemsPerPage: pageSize, currentPage: page }; let i=index;"
      class="col-md-12 list-item" [@animate]="{value:'*',params:{delay: (i*100)+'ms', y:'50px'}}">

      <div class="card o-hidden mb-4 d-flex flex-row">
        <div [ngClass]="x.store_base? 'find-band': ''"></div>
        <div class="flex-grow-1 pl-2 d-flex mtb-20">
          <div class="card-body align-self-center d-flex flex-column justify-content-between align-items-lg-center flex-lg-row">
            <!-- OTHER DATA -->
            <p class="m-0 w-15 w-sm-100 m-b-0">{{x.country_code}}</p>
          </div>
        </div>
      </div>

    </div>

    <!-- PAGINATION CONTROL -->
    <div class="col-md-12 mt-3">
      <pagination-controls (pageChange)="page=$event; commonService.pageTop(0);" autoHide="true" responsive="true" maxSize="5" previousLabel="" nextLabel=""></pagination-controls>
    </div>

  </div>

  <div *ngIf="!commonService.currency_types?.length" class="row">
    <div class="col-md-12">
      <p align="center">No data to display.</p>
    </div>
  </div>
</div>