<div *ngIf="pageLoader" class="row">
  <app-spinner></app-spinner>
</div>

<div *ngIf="!pageLoader">
  <div class="breadcrumb">
    <h1>Currency Convertor</h1>
    <ul>
      <li>Set your currency types</li>
    </ul>
  </div>
  <div class="separator-breadcrumb border-top"></div>

  <div class="top-filter-sec">
    <div class="row mb-4">
      <div class="col-md-6">
        <button type="button" class="btn btn-primary" (click)="addForm = {}; modalService.open(addModal);">Add New
          Currency</button>
      </div>
      <!-- search box -->
      <div class="col-md-6 mt-sm-15" align="right">
        <div class="form-group">
          <input type="text" name="search_bar" placeholder="Search" class="form-control" [(ngModel)]="search_bar" />
        </div>
      </div>
    </div>
  </div>
  <!-- DATA LIST -->
  <div *ngIf="list?.length" class="list-horizontal">

    <div class="data-list-card-wrapper">
      <div class="data-list-card-inner">
        <div class="row m-0">

          <!-- SINGLE LIST ITEM -->
          <div
            *ngFor="let x of list | fieldSearch:'country_code':search_bar | paginate: { itemsPerPage: pageSize, currentPage: page }; let i=index;"
            class="col-md-12 list-item data-list-card" [@animate]="{value:'*',params:{delay: (i*100)+'ms', y:'50px'}}">

            <div class="">
              <div class="">
                <div class="card-body">

                  <div class="row">
                    <div class="col-md-3 d-flex align-items-center">
                      <p class="m-0 w-sm-100 m-b-0">{{x.country_code}}</p>
                    </div>
                    <div class="col-md-3 d-flex align-items-center">
                      <p class="m-0 w-sm-100 m-b-0">{{x.additional_charges}}% Markup</p>
                    </div>
                    <div class="col-md-3 d-flex align-items-center">
                      <p class="m-0 w-sm-100 m-b-0">{{x.inr_rate |
                        currency:commonService.store_currency?.country_code:'symbol':'1.0-4'}}</p>
                    </div>
                    <div class="col-md-3 d-flex align-items-center justify-content-end">
                      <p class="m-0 text-muted text-small w-sm-100 d-lg-block item-actions">
                        <button [disabled]="x.default_currency" class="btn btn-wide black-outline-btn w-md-100 mr-3"
                          (click)="onEdit(x, editModal);">
                          <span class="black-outline-txt">Edit</span>
                        </button>
                        <button [disabled]="x.default_currency" class="btn orng-outline-btn w-md-100"
                          (click)="deleteForm=x; modalService.open(deleteModal, { centered: true });">
                          <span class="orng-outline-txt">Remove</span>
                        </button>
                      </p>
                    </div>
                  </div>

                  <!-- <p class="m-0 w-15 w-sm-100 m-b-0">{{x.country_code}}</p>
                  <p class="m-0 w-15 w-sm-100 m-b-0">{{x.additional_charges}}% Markup</p>
                  <p class="m-0 w-15 w-sm-100 m-b-0">{{x.inr_rate |
                    currency:commonService.store_currency?.country_code:'symbol':'1.0-4'}}</p>
                  <p class="m-0 text-muted text-small w-15 w-sm-100 d-lg-block item-actions">
                    <button [disabled]="x.default_currency" class="btn btn-wide black-outline-btn w-md-100 mr-3"
                      (click)="onEdit(x, editModal);">
                      <span class="black-outline-txt">Edit</span>
                    </button>
                    <button [disabled]="x.default_currency" class="btn orng-outline-btn w-md-100"
                      (click)="deleteForm=x; modalService.open(deleteModal, { centered: true });">
                      <span class="orng-outline-txt">Remove</span>
                    </button>
                  </p> -->
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>


    <!-- PAGINATION CONTROL -->
    <div class="row">
      <div class="col-md-12 mt-3">
        <pagination-controls (pageChange)="page=$event; commonService.pageTop(0);" autoHide="true" responsive="true"
          maxSize="5" previousLabel="" nextLabel=""></pagination-controls>
      </div>
    </div>


  </div>

  <div *ngIf="!list?.length" class="row">
    <div class="col-md-12 d-flex flex-column align-items-center justify-content-center no-rec-found-wrapper">
      <img class="no-rec-found" src="assets/images/no_records_found.png" alt="no-records">
      <p align="center">No data to display. Add a new currency to improve international customer convenience.</p>
    </div>
  </div>
</div>

<!-- ADD MODAL -->
<ng-template #addModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New Currency</h4>
  </div>
  <form autocomplete="off" (ngSubmit)="onAdd();" ngNativeValidate>
    <div class="modal-body">
      <div class="form-group">
        <div class="row">
          <div class="col-md-12 form-group mb-3">
            <label>Code</label>
            <select name="country" class="form-control" [(ngModel)]="addForm.country" #country="ngModel" required>
              <option [ngValue]="x" *ngFor="let x of ys_currency_list | orderAsc:'name';">{{x.name}}</option>
            </select>
          </div>
          <div class="col-md-12 form-group mb-3">
            <label>Markup (%)</label>
            <input type="tel" name="additional_charges" class="form-control" [(ngModel)]="addForm.additional_charges"
              #additional_charges="ngModel" maxlength="3" appNumberOnly required />
          </div>
        </div>
      </div>
      <div *ngIf="addForm.errorMsg">
        <p class="text-danger">{{ addForm.errorMsg }}</p>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" id="closeModal" class="btn btn-wide black-outline-btn"
        (click)="modal.dismiss('Cross click');">
        <span class="black-outline-txt">Cancel</span>
      </button>
      <button type="submit" class="btn btn-wide btn-primary">Add</button>
    </div>
  </form>
</ng-template>

<!-- EDIT MODAL -->
<ng-template #editModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ editForm.country_code }}</h4>
  </div>
  <form autocomplete="off" (ngSubmit)="onUpdate()" ngNativeValidate>
    <div class="modal-body">
      <div class="form-group">
        <div class="row">
          <div class="col-md-12 form-group mb-3">
            <label>Markup (%)</label>
            <input type="tel" name="additional_charges" class="form-control" [(ngModel)]="editForm.additional_charges"
              #additional_charges="ngModel" maxlength="3" appNumberOnly required />
          </div>
        </div>
      </div>
      <div *ngIf="editForm.errorMsg">
        <p class="text-danger">{{ editForm.errorMsg }}</p>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" id="closeModal" class="btn btn-wide black-outline-btn"
        (click)="modal.dismiss('Cross click');">
        <span class="black-outline-txt">Cancel</span>
      </button>
      <button type="submit" class="btn btn-wide btn-primary">Update</button>
    </div>
  </form>
</ng-template>

<!-- DELETE MODAL -->
<ng-template #deleteModal let-modal>
  <div class="modal-body">
    <p><strong>Are you sure you want to remove <span class="txt-grdint-highlight">"{{deleteForm.country_code}}"</span>
        currency?</strong></p>
    <div *ngIf="deleteForm.errorMsg">
      <p class="text-danger">{{ deleteForm.errorMsg }}</p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" id="closeModal" class="btn btn-wide black-outline-btn"
      (click)="modal.dismiss('Cross click');">
      <span class="black-outline-txt">No</span>
    </button>
    <button type="button" (click)="onDelete();" class="btn btn-wide orng-outline-btn">
      <span class="orng-outline-txt">Yes</span>
    </button>
  </div>
</ng-template>