<div>
  <div class="breadcrumb with-back-btn">
    <div class="row">
      <div class="col-md-12 p-0">
        <div class="row">
          <div class="col-md-12 col-md-8 d-flex justify-content-end align-items-start flex-column">
            <h1>Store Logo</h1>
            <ul>
              <li>Manage your store logos</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="separator-breadcrumb border-top"></div>

  <div class="row">
    <div class="col-md-6 col-lg-4 d-flex">
      <div class="card setting-card w-100 p-3 mt-3 mb-3 cursor">
        <div class="d-flex align-items-center justify-content-center flex-column">
          <img [src]="imgBaseUrl+'uploads/'+commonService.store_details._id+'/logo.png?v='+verNum" height="100px;" width="auto;">
          <label class="text-title">
            Site Logo 
            <i class="material-icons" (click)="btnLoader=false; logoForm={ root_path: 'uploads/'+commonService.store_details._id, small_image: false, file_name: 'logo', file_type: 'png', resolution: 'autox100' }; modalService.open(imageModal);">create</i>
          </label>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4 d-flex">
      <div class="card setting-card w-100 p-3 mt-3 mb-3 cursor">
        <div class="d-flex align-items-center justify-content-center flex-column">
          <img [src]="imgBaseUrl+'uploads/'+commonService.store_details._id+'/social_logo.jpg?v='+verNum" height="100px;" width="auto;">
          <label class="text-title">
            Social Logo 
            <i class="material-icons" (click)="btnLoader=false; logoForm={ root_path: 'uploads/'+commonService.store_details._id, small_image: false, file_name: 'social_logo', file_type: 'jpg', resolution: '128x128' }; modalService.open(imageModal);">create</i>
          </label>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4 d-flex">
      <div class="card setting-card w-100 p-3 mt-3 mb-3 cursor">
        <div class="d-flex align-items-center justify-content-center flex-column">
          <img [src]="imgBaseUrl+'uploads/'+commonService.store_details._id+'/mail_logo.png?v='+verNum" height="100px;" width="auto;">
          <label class="text-title">
            Mail Logo 
            <i class="material-icons" (click)="btnLoader=false; logoForm={ root_path: 'uploads/'+commonService.store_details._id, small_image: false, file_name: 'mail_logo', file_type: 'png', resolution: 'autox80' }; modalService.open(imageModal);">create</i>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- IMAGE MODAL -->
<ng-template #imageModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update Image</h4>
  </div>
  <form autocomplete="off" (ngSubmit)="onUpdate(imageModal);" ngNativeValidate>
    <div class="modal-body">
      <div class="form-group">
        <div class="row">
          <div class="col-md-12" align="center">
            <p>Photo Resolution: {{logoForm?.resolution}}</p>
            <div *ngIf="logoForm.image">
              <img [src]="logoForm.image" height="100px;" width="auto;">
            </div>
            <div *ngIf="!logoForm.image">
              <img [src]="imgBaseUrl+logoForm?.root_path+'/'+logoForm?.file_name+'.'+logoForm?.file_type+'?v='+verNum" height="100px;" width="auto;">
              <div class="mt-4">
                <input *ngIf="logoForm?.file_type=='jpg'" type="file" name="image" (change)="fileChangeListener($event);" accept="image/jpeg" />
                <input *ngIf="logoForm?.file_type=='png'" type="file" name="image" (change)="fileChangeListener($event);" accept="image/png" />
                <input *ngIf="logoForm?.file_type=='any'" type="file" name="image" (change)="fileChangeListener($event);" accept="image/jpeg, image/png" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="logoForm.errorMsg">
        <p class="text-danger">{{ logoForm.errorMsg }}</p>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" id="closeModal" class="btn btn-wide black-outline-btn" (click)="modal.dismiss('Cross click');">
       <span class="black-outline-txt">Cancel</span>
      </button>
      <button type="submit" class="btn btn-wide btn-primary ladda-button m-1" [disabled]="btnLoader" [ladda]="btnLoader">Update</button>
    </div>
  </form>
</ng-template>