<div *ngIf="pageLoader" class="row">
  <app-spinner></app-spinner>
</div>

<div *ngIf="!pageLoader">
  <div class="breadcrumb">
    <h1>Feedback</h1>
    <ul>
      <li>See what your customers have to say about your services</li>
    </ul>
  </div>
  <div class="separator-breadcrumb border-top"></div>

  <div class="top-filter-sec">
    <div class="row mb-4">
      <!-- from date -->
      <div class="col-md-3">
        <div class="form-group">
          <input type="text" placeholder="Select Date" class="form-control" name="from_date"
            [(ngModel)]="filterForm.from_date" (ngModelChange)="ngOnInit();" bsDatepicker
            [bsConfig]="{ showWeekNumbers: false, dateInputFormat: 'DD-MM-YYYY' }" />
        </div>
      </div>
      <!-- to date -->
      <div class="col-md-3">
        <div class="form-group">
          <input type="text" placeholder="Select Date" class="form-control" name="to_date"
            [(ngModel)]="filterForm.to_date" (ngModelChange)="ngOnInit();" bsDatepicker [minDate]="filterForm.from_date"
            [bsConfig]="{ showWeekNumbers: false, dateInputFormat: 'DD-MM-YYYY' }" />
        </div>
      </div>
      <!-- search box -->
      <div class="col-md-6">
        <div class="form-group">
          <input type="text" name="search_bar" placeholder="Search" class="form-control" [(ngModel)]="search_bar" />
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="list?.length" class="list-horizontal">

    <div
      *ngFor="let x of list | gridSearch: { name: search_bar, email: search_bar } | paginate: { itemsPerPage: pageSize, currentPage: page }; let i=index;"
      class="col-md-12 list-item" [@animate]="{value:'*',params:{delay: (i*100)+'ms', y:'50px'}}">
      <div class="card o-hidden mb-4 d-flex flex-row">
        <div class="flex-grow-1 pl-2 d-flex">
          <div
            class="card-body align-self-center d-flex flex-column justify-content-between align-items-lg-center flex-lg-row">
            <p class="w-30 w-sm-100 m-b-0">{{x.name}}</p>
            <p class="w-30 w-sm-100 m-b-0">{{x.email}}</p>
            <p class="w-30 w-sm-100 m-b-0">{{x.rating}}/5</p>
            <p class="w-30 w-sm-100 m-b-0">{{x.created_on | date: "dd MMM y"}}</p>
            <p class="m-0 text-muted text-small w-15 w-sm-100 d-lg-block item-actions">
              <button type="button" (click)="details=x; modalService.open(feedbackModal);"
                class="btn btn-wide black-outline-btn w-md-100 mr-3">
                <span class="black-outline-txt">View</span>
              </button>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- PAGINATION CONTROL -->
    <div class="col-md-12 mt-3">
      <pagination-controls (pageChange)="page=$event; commonService.pageTop(0);" autoHide="true" responsive="true" maxSize="5"
        previousLabel="" nextLabel=""></pagination-controls>
    </div>

  </div>

  <div *ngIf="!list?.length" class="row">
    <div class="col-md-12">
      <p align="center">No records found</p>
    </div>
  </div>
</div>

<!-- Feedback Modal -->
<ng-template #feedbackModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Details</h4>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <div class="row">
        <div class="col-md-12">
          <p class="mb-3"><b>Quality: </b>{{details.quality}}</p>
          <p class="mb-3"><b>Pricing: </b>{{details.pricing}}</p>
          <p class="mb-3"><b>Shipping: </b>{{details.shipping}}</p>
          <p class="mb-3"><b>Comment: </b>{{details.comment}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-wide black-outline-btn"
      (click)="modal.dismiss('Cross click');">
     <span class="black-outline-txt">Close</span>
    </button>
  </div>
</ng-template>