<div *ngIf="pageLoader" class="row">
  <app-spinner></app-spinner>
</div>

<div *ngIf="!pageLoader">
  <div class="breadcrumb with-back-btn">
    <div class="row">
      <div class="col-md-8">
        <h1>{{ router.url.includes('cart')? 'Cart': 'Quote' }} Items</h1>
      </div>
      <div class="col-md-4" align="right">
        <button type="button" class="btn btn-wide btn-outline-secondary" (click)="commonService.goBack();">
          Back
        </button>
      </div>
    </div>
  </div>
  <div class="separator-breadcrumb border-top"></div>

  <!-- DATA LIST -->
  <div *ngIf="customer_details?.cart_list?.length" class="row" class="list-horizontal">

    <div class="col-md-12 list-item">
      <div class="card mb-4 d-flex flex-row">
        <div class="flex-grow-1 d-flex">
          <div
            class="card-body align-self-center d-flex flex-column justify-content-between align-items-lg-center flex-lg-row">
            <p class="w-30 w-sm-100 m-b-0">{{ customer_details.name }}</p>
            <p class="w-30 w-sm-100 m-b-0">{{ customer_details.email }}</p>
            <p class="w-30 w-sm-100 m-b-0">{{ customer_details.mobile }}</p>
            <p class="w-30 w-sm-100 m-b-0">{{ customer_details.cart_updated_on | date: "dd MMM y hh:mm a" }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="data-list-card-wrapper">
        <div class="data-list-card-inner">
          <div class="row m-0">

            <!-- SINGLE LIST ITEM -->
            <div *ngFor="let x of customer_details.cart_list; let i=index;" class="col-md-12 list-item data-list-card"
              [@animate]="{value:'*',params:{delay: (i*100)+'ms', y:'50px'}}">

              <div class="d-flex flex-row">
                <div class="list-thumb d-flex mtb-20">
                  <img [src]="imgBaseUrl+x.image" alt="">
                </div>
                <div class="flex-grow-1 pl-2 d-flex mtb-20">
                  <div class="card-body row">
                    <div class="col-md-6 d-flex justify-content-center flex-column">
                      <span>{{x.name}}</span>
                      <ng-container *ngIf="x.variant_status">
                        <ng-container *ngFor="let y of x.variant_types;">
                          <span class="w-100">
                            <b>{{y.name}}: </b>{{y.value}}</span>
                        </ng-container>
                      </ng-container>

                      <div *ngIf="x.addon_status">
                        <b>Addon</b>
                        <br>
                        <span class="w-100">{{x.selected_addon?.name}}</span>
                      </div>

                    </div>

                    <div class="col-md-3 flex-center">{{x.quantity}} {{x.unit? x.unit: 'Qty'}}</div>
                    <div *ngIf="x.unit=='Pcs'" class="col-md-3 flex-center">{{ (x.final_price*x.quantity) | currency:
                      commonService.store_currency?.country_code}}</div>
                    <div *ngIf="x.unit!='Pcs'" class="col-md-3 flex-center">{{
                      ((x.final_price*x.quantity)+x.addon_price) |
                      currency: commonService.store_currency?.country_code}}</div>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>


  </div>

  <div *ngIf="!customer_details?.cart_list?.length" class="row">
    <div class="col-md-12 d-flex flex-column align-items-center justify-content-center no-rec-found-wrapper">
      <img class="no-rec-found" src="assets/images/no_records_found.png" alt="no-records">
      <p align="center">No data to display.</p>
    </div>
  </div>

</div>