i.load-spin {
    font-family: FontAwesome !important;
}

.whats-new-acc {
    .card-header {
        button {
            text-align: left;
            color: #3d3d3d;
            &:hover,
            &:focus {
                text-decoration: none;
            }
        }
    }
}

@media screen and (min-width:991px)
{
    .fs-md-28{font-size:28px;}
}