[data-theme="dark"] {
  -webkit-transition: background 0.5s ease-out 0.5s, background-color 0.5s ease-out 0.5s, color 0.5s ease-out 0.5s, border-color 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;
  transition: background 0.5s ease-out 0.5s, background-color 0.5s ease-out 0.5s, color 0.5s ease-out 0.5s, border-color 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;
  background-color: #1f1f1f !important;
  color: #eee !important;
}

[data-theme="dark"] .bg-light {
  background-color: #333 !important;
}

[data-theme="dark"] .bg-white {
  background-color: #000 !important;
}

[data-theme="dark"] .bg-black {
  background-color: #eee !important;
}

[data-theme="dark"] h1,
[data-theme="dark"] h2,
[data-theme="dark"] h3,
[data-theme="dark"] h4,
[data-theme="dark"] h5,
[data-theme="dark"] h6 {
  -webkit-transition: background 0.5s ease-out 0.5s, background-color 0.5s ease-out 0.5s, color 0.5s ease-out 0.5s, border-color 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;
  transition: background 0.5s ease-out 0.5s, background-color 0.5s ease-out 0.5s, color 0.5s ease-out 0.5s, border-color 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;
  color: #fff;
}

[data-theme="dark"] .layout-sidebar-large .main-header h1,
[data-theme="dark"] .layout-sidebar-large .main-header h2,
[data-theme="dark"] .layout-sidebar-large .main-header h3,
[data-theme="dark"] .layout-sidebar-large .main-header h4,
[data-theme="dark"] .layout-sidebar-large .main-header h5,
[data-theme="dark"] .layout-sidebar-large .main-header h6,
[data-theme="dark"] .layout-sidebar-large .main-header p,
[data-theme="dark"] .layout-sidebar-large .main-header span,
[data-theme="dark"] .layout-sidebar-large .main-header i,
[data-theme="dark"] .layout-sidebar-large .main-header b {
  -webkit-transition: background 0.5s ease-out 0.5s, background-color 0.5s ease-out 0.5s, color 0.5s ease-out 0.5s, border-color 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;
  transition: background 0.5s ease-out 0.5s, background-color 0.5s ease-out 0.5s, color 0.5s ease-out 0.5s, border-color 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;
  color: #fff !important;
}

[data-theme="dark"] .layout-sidebar-large .sidebar-left-secondary h1,
[data-theme="dark"] .layout-sidebar-large .sidebar-left-secondary h2,
[data-theme="dark"] .layout-sidebar-large .sidebar-left-secondary h3,
[data-theme="dark"] .layout-sidebar-large .sidebar-left-secondary h4,
[data-theme="dark"] .layout-sidebar-large .sidebar-left-secondary h5,
[data-theme="dark"] .layout-sidebar-large .sidebar-left-secondary h6,
[data-theme="dark"] .layout-sidebar-large .sidebar-left-secondary p,
[data-theme="dark"] .layout-sidebar-large .sidebar-left-secondary span,
[data-theme="dark"] .layout-sidebar-large .sidebar-left-secondary i,
[data-theme="dark"] .layout-sidebar-large .sidebar-left-secondary b,
[data-theme="dark"] .layout-sidebar-large .sidebar-left h1,
[data-theme="dark"] .layout-sidebar-large .sidebar-left h2,
[data-theme="dark"] .layout-sidebar-large .sidebar-left h3,
[data-theme="dark"] .layout-sidebar-large .sidebar-left h4,
[data-theme="dark"] .layout-sidebar-large .sidebar-left h5,
[data-theme="dark"] .layout-sidebar-large .sidebar-left h6,
[data-theme="dark"] .layout-sidebar-large .sidebar-left p,
[data-theme="dark"] .layout-sidebar-large .sidebar-left span,
[data-theme="dark"] .layout-sidebar-large .sidebar-left i,
[data-theme="dark"] .layout-sidebar-large .sidebar-left b {
  -webkit-transition: background 0.5s ease-out 0.5s, background-color 0.5s ease-out 0.5s, color 0.5s ease-out 0.5s, border-color 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;
  transition: background 0.5s ease-out 0.5s, background-color 0.5s ease-out 0.5s, color 0.5s ease-out 0.5s, border-color 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;
  color: #fff;
}

[data-theme="dark"] .breadcrumb h1,
[data-theme="dark"] .breadcrumb h2,
[data-theme="dark"] .breadcrumb h3,
[data-theme="dark"] .breadcrumb h4,
[data-theme="dark"] .breadcrumb h5,
[data-theme="dark"] .breadcrumb h6,
[data-theme="dark"] .breadcrumb ul li {
  -webkit-transition: background 0.5s ease-out 0.5s, background-color 0.5s ease-out 0.5s, color 0.5s ease-out 0.5s, border-color 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;
  transition: background 0.5s ease-out 0.5s, background-color 0.5s ease-out 0.5s, color 0.5s ease-out 0.5s, border-color 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;
  color: #808080;
}

[data-theme="dark"] .modal-header h1,
[data-theme="dark"] .modal-header h2,
[data-theme="dark"] .modal-header h3,
[data-theme="dark"] .modal-header h4,
[data-theme="dark"] .modal-header h5,
[data-theme="dark"] .modal-header h6,
[data-theme="dark"] .modal-header p,
[data-theme="dark"] .modal-header span,
[data-theme="dark"] .modal-header i,
[data-theme="dark"] .modal-header b {
  -webkit-transition: background 0.5s ease-out 0.5s, background-color 0.5s ease-out 0.5s, color 0.5s ease-out 0.5s, border-color 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;
  transition: background 0.5s ease-out 0.5s, background-color 0.5s ease-out 0.5s, color 0.5s ease-out 0.5s, border-color 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;
  color: #fff;
}

[data-theme="dark"] .card h1,
[data-theme="dark"] .card h2,
[data-theme="dark"] .card h3,
[data-theme="dark"] .card h4,
[data-theme="dark"] .card h5,
[data-theme="dark"] .card h6,
[data-theme="dark"] .card p,
[data-theme="dark"] .card span,
[data-theme="dark"] .card i,
[data-theme="dark"] .card b {
  -webkit-transition: background 0.5s ease-out 0.5s, background-color 0.5s ease-out 0.5s, color 0.5s ease-out 0.5s, border-color 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;
  transition: background 0.5s ease-out 0.5s, background-color 0.5s ease-out 0.5s, color 0.5s ease-out 0.5s, border-color 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;
}

[data-theme="dark"] .card-title,
[data-theme="dark"] .text-title {
  -webkit-transition: background 0.5s ease-out 0.5s, background-color 0.5s ease-out 0.5s, color 0.5s ease-out 0.5s, border-color 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;
  transition: background 0.5s ease-out 0.5s, background-color 0.5s ease-out 0.5s, color 0.5s ease-out 0.5s, border-color 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;
  color: #888888;
}

[data-theme="dark"] .layout-sidebar-large .sidebar-left .navigation-left .nav-item.active .triangle {
  -webkit-transition: all 0.24s ease-in-out, background 0.5s ease-out 0.5s, background-color 0.5s ease-out 0.5s, color 0.5s ease-out 0.5s, border-color 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;
  transition: all 0.24s ease-in-out, background 0.5s ease-out 0.5s, background-color 0.5s ease-out 0.5s, color 0.5s ease-out 0.5s, border-color 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;
  background: #292929;
  background: linear-gradient(145deg, transparent 0%, transparent 50%, #ec366b 53%, #a43493 100%);
}

[data-theme="dark"] .btn-outline-primary {
  background: #1f1f1f;
  color: #ffffff;
}

[data-theme="dark"] .black-outline-btn {
  background: #1f1f1f;
  color: #ffffff;
}

[data-theme="dark"] .blue-outline-btn {
  background: #1f1f1f;
  color: #ffffff;
}

[data-theme="dark"] .orng-outline-btn {
  background: #1f1f1f;
  color: #ffffff;
}

[data-theme="dark"] .layout-sidebar-large .main-header {
  -webkit-transition: background 0.5s ease-out 0.5s, background-color 0.5s ease-out 0.5s, color 0.5s ease-out 0.5s, border-color 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;
  transition: background 0.5s ease-out 0.5s, background-color 0.5s ease-out 0.5s, color 0.5s ease-out 0.5s, border-color 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;
  background: #292929;
}

[data-theme="dark"] .layout-sidebar-large .main-header .header-icon:hover {
  background: #1f1f1f;
}

[data-theme="dark"] .layout-sidebar-large .sidebar-left-secondary,
[data-theme="dark"] .layout-sidebar-large .sidebar-left {
  -webkit-transition: all 0.24s ease-in-out, background 0.5s ease-out 0.5s, background-color 0.5s ease-out 0.5s, color 0.5s ease-out 0.5s, border-color 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;
  transition: all 0.24s ease-in-out, background 0.5s ease-out 0.5s, background-color 0.5s ease-out 0.5s, color 0.5s ease-out 0.5s, border-color 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;
  background: #292929;
}

[data-theme="dark"] .ps--active-x > .ps__rail-x,
[data-theme="dark"] .ps--active-y > .ps__rail-y {
  background-color: #292929;
}

[data-theme="dark"] .app-footer {
  -webkit-transition: background 0.5s ease-out 0.5s, background-color 0.5s ease-out 0.5s, color 0.5s ease-out 0.5s, border-color 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;
  transition: background 0.5s ease-out 0.5s, background-color 0.5s ease-out 0.5s, color 0.5s ease-out 0.5s, border-color 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;
  background: #292929;
}

[data-theme="dark"] .app-footer .footer-logo p {
  color: #fff;
  -webkit-transition: background 0.5s ease-out 0.5s, background-color 0.5s ease-out 0.5s, color 0.5s ease-out 0.5s, border-color 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;
  transition: background 0.5s ease-out 0.5s, background-color 0.5s ease-out 0.5s, color 0.5s ease-out 0.5s, border-color 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;
}

[data-theme="dark"] .yourstore-logo-path {
  -webkit-transition: background 0.5s ease-out 0.5s, background-color 0.5s ease-out 0.5s, color 0.5s ease-out 0.5s, border-color 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;
  transition: background 0.5s ease-out 0.5s, background-color 0.5s ease-out 0.5s, color 0.5s ease-out 0.5s, border-color 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;
  fill: #fff;
}

[data-theme="dark"] .layout-sidebar-large .sidebar-left-secondary .childNav li.nav-item a:hover {
  background: #212121;
}

[data-theme="dark"] .main-content-wrap {
  -webkit-transition: background 0.5s ease-out 0.5s, background-color 0.5s ease-out 0.5s, color 0.5s ease-out 0.5s, border-color 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;
  transition: background 0.5s ease-out 0.5s, background-color 0.5s ease-out 0.5s, color 0.5s ease-out 0.5s, border-color 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;
  background-color: #1f1f1f;
}

[data-theme="dark"] .card {
  -webkit-transition: background 0.5s ease-out 0.5s, background-color 0.5s ease-out 0.5s, color 0.5s ease-out 0.5s, border-color 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;
  transition: background 0.5s ease-out 0.5s, background-color 0.5s ease-out 0.5s, color 0.5s ease-out 0.5s, border-color 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;
  background: #292929;
}

[data-theme="dark"] .card-in-card {
  -webkit-transition: background 0.5s ease-out 0.5s, background-color 0.5s ease-out 0.5s, color 0.5s ease-out 0.5s, border-color 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;
  transition: background 0.5s ease-out 0.5s, background-color 0.5s ease-out 0.5s, color 0.5s ease-out 0.5s, border-color 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;
  background: #212121;
}

[data-theme="dark"] .layout-sidebar-large .sidebar-left .navigation-left .nav-item {
  -webkit-transition: background 0.5s ease-out 0.5s, background-color 0.5s ease-out 0.5s, color 0.5s ease-out 0.5s, border-color 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;
  transition: background 0.5s ease-out 0.5s, background-color 0.5s ease-out 0.5s, color 0.5s ease-out 0.5s, border-color 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;
  border-bottom: 1px solid #3c3c3c !important;
}

[data-theme="dark"] .border-top {
  -webkit-transition: background 0.5s ease-out 0.5s, background-color 0.5s ease-out 0.5s, color 0.5s ease-out 0.5s, border-color 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;
  transition: background 0.5s ease-out 0.5s, background-color 0.5s ease-out 0.5s, color 0.5s ease-out 0.5s, border-color 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;
  border-top: 1px solid #3c3c3c !important;
}

[data-theme="dark"] .form-control {
  -webkit-transition: background 0.5s ease-out 0.5s, background-color 0.5s ease-out 0.5s, color 0.5s ease-out 0.5s, border-color 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;
  transition: background 0.5s ease-out 0.5s, background-color 0.5s ease-out 0.5s, color 0.5s ease-out 0.5s, border-color 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;
  background: #292929;
  border: 1px solid #3c3c3c;
  color: #fff;
}

[data-theme="dark"] .form-control:focus {
  background-color: #292929;
}

[data-theme="dark"] .form-group label {
  color: #808080;
}

[data-theme="dark"] tag-input-form input {
  background: #292929;
}

[data-theme="dark"] input,
[data-theme="dark"] textarea {
  color: #fff;
}

[data-theme="dark"] .dropdown-menu {
  background-color: #212121;
}

[data-theme="dark"] .dropdown-item {
  color: #fff;
}

[data-theme="dark"] .dropdown-item:hover,
[data-theme="dark"] .dropdown-item:focus {
  background-color: #292929;
}

[data-theme="dark"] .modal-header {
  -webkit-transition: background 0.5s ease-out 0.5s, background-color 0.5s ease-out 0.5s, color 0.5s ease-out 0.5s, border-color 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;
  transition: background 0.5s ease-out 0.5s, background-color 0.5s ease-out 0.5s, color 0.5s ease-out 0.5s, border-color 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;
  border-bottom: 1px solid #3c3c3c;
}

[data-theme="dark"] .modal-footer {
  -webkit-transition: background 0.5s ease-out 0.5s, background-color 0.5s ease-out 0.5s, color 0.5s ease-out 0.5s, border-color 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;
  transition: background 0.5s ease-out 0.5s, background-color 0.5s ease-out 0.5s, color 0.5s ease-out 0.5s, border-color 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;
  border-top: 1px solid #3c3c3c;
}

[data-theme="dark"] .modal-content {
  -webkit-transition: background 0.5s ease-out 0.5s, background-color 0.5s ease-out 0.5s, color 0.5s ease-out 0.5s, border-color 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;
  transition: background 0.5s ease-out 0.5s, background-color 0.5s ease-out 0.5s, color 0.5s ease-out 0.5s, border-color 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;
  background-color: #212121;
}

[data-theme="dark"] .modal-backdrop {
  background-color: #0c0c0c;
}

[data-theme="dark"] .modal-backdrop.show {
  opacity: 0.8;
}

[data-theme="dark"] .gray-bg {
  background-color: #404040;
}

[data-theme="dark"] .main-header-div,
[data-theme="dark"] .invoice-border {
  border-bottom: 1px solid #3c3c3c;
}

[data-theme="dark"] .m-close-btn {
  color: #fff;
}

[data-theme="dark"] .invoice-border-top {
  border-top: 1px solid #3c3c3c;
}

[data-theme="dark"] #time-picker-wrapper.material-purple #time-picker {
  background: #212121 !important;
}

[data-theme="dark"] .ngx-toolbar {
  background-color: #282828 !important;
  border: 1px solid 1px solid #3c3c3c !important;
}

[data-theme="dark"] .ngxePopover form .form-group .form-control-sm {
  color: #fff;
}

[data-theme="dark"] .ngxePopover form .form-group .form-control-sm {
  color: #000;
}

[data-theme="dark"] i.edit-icon {
  background-color: #292929;
}

[data-theme="dark"] .user-profile-info {
  -webkit-transition: background 0.5s ease-out 0.5s, background-color 0.5s ease-out 0.5s, color 0.5s ease-out 0.5s, border-color 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;
  transition: background 0.5s ease-out 0.5s, background-color 0.5s ease-out 0.5s, color 0.5s ease-out 0.5s, border-color 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;
  background-color: #292929;
}

[data-theme="dark"] .table .thead-light th {
  -webkit-transition: background 0.5s ease-out 0.5s, background-color 0.5s ease-out 0.5s, color 0.5s ease-out 0.5s, border-color 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;
  transition: background 0.5s ease-out 0.5s, background-color 0.5s ease-out 0.5s, color 0.5s ease-out 0.5s, border-color 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;
  background-color: #1f1f1f;
  border-top: 1px solid #3c3c3c;
  border-bottom: 1px solid #3c3c3c;
}

[data-theme="dark"] .table th,
[data-theme="dark"] .table td {
  -webkit-transition: background 0.5s ease-out 0.5s, background-color 0.5s ease-out 0.5s, color 0.5s ease-out 0.5s, border-color 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;
  transition: background 0.5s ease-out 0.5s, background-color 0.5s ease-out 0.5s, color 0.5s ease-out 0.5s, border-color 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;
  border-top: 1px solid #3c3c3c;
}

[data-theme="dark"] .size-chart .table-input {
  -webkit-transition: background 0.5s ease-out 0.5s, background-color 0.5s ease-out 0.5s, color 0.5s ease-out 0.5s, border-color 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;
  transition: background 0.5s ease-out 0.5s, background-color 0.5s ease-out 0.5s, color 0.5s ease-out 0.5s, border-color 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;
  background-color: #292929;
  border-color: #292929;
}

[data-theme="dark"] .table-bordered.size-chart th, [data-theme="dark"] .table-bordered.table-bordered td {
  -webkit-transition: background 0.5s ease-out 0.5s, background-color 0.5s ease-out 0.5s, color 0.5s ease-out 0.5s, border-color 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;
  transition: background 0.5s ease-out 0.5s, background-color 0.5s ease-out 0.5s, color 0.5s ease-out 0.5s, border-color 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;
  border: 1px solid #3c3c3c;
}

[data-theme="dark"] .bs-datepicker {
  -webkit-transition: background 0.5s ease-out 0.5s, background-color 0.5s ease-out 0.5s, color 0.5s ease-out 0.5s, border-color 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;
  transition: background 0.5s ease-out 0.5s, background-color 0.5s ease-out 0.5s, color 0.5s ease-out 0.5s, border-color 0.5s ease-out 0.5s, opacity 0.5s ease-out 0.5s;
  background: #292929;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

[data-theme="dark"] .bs-datepicker-body table td span.is-other-month, [data-theme="dark"] .bs-datepicker-body table td.is-other-month span {
  color: rgba(255, 255, 255, 0.1);
}

[data-theme="dark"] .darkmode-switcher {
  background-color: #66bb6a;
  background-color: #023660;
  background-image: radial-gradient(circle, #fff 10%, transparent 30%), radial-gradient(circle, #fff 10%, transparent 30%), radial-gradient(circle, #fff 10%, transparent 30%), radial-gradient(circle, #fff 10%, transparent 30%), radial-gradient(circle, #fff 10%, transparent 30%), radial-gradient(circle, #fff 10%, transparent 30%), radial-gradient(circle, #fff 10%, transparent 30%), radial-gradient(circle, #fff 10%, transparent 30%), radial-gradient(circle, #fff 10%, transparent 30%);
  background-size: 8% 8%, 7% 7%, 6% 6%, 8% 8%, 8% 8%, 6% 6%, 6% 6%, 8% 8%, 7% 7%;
  background-position: 20% 20%, 45% 30%, 25% 55%, 20% 90%, 40% 60%, 5% 50%, 58% 10%, 58% 60%, 50% 80%;
  background-repeat: no-repeat;
}

[data-theme="dark"] .darkmode-switcher:before {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  background-color: #ddd;
  background-image: radial-gradient(circle, #c4c4c4 50%, transparent 50%), radial-gradient(circle, #c9c9c9 50%, transparent 50%), radial-gradient(circle, #c9c9c9 50%, transparent 50%), radial-gradient(circle, #c9c9c9 50%, transparent 50%);
  background-size: 40% 40%, 25% 25%, 50% 50%, 30% 30%;
  background-position: 20% 20%, 65% 30%, 120% 100%, 20% 80%;
  -webkit-box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.2);
          box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.2);
}
/*# sourceMappingURL=dark-mode.css.map */