<div *ngIf="pageLoader" class="row">
  <app-spinner></app-spinner>
</div>

<div *ngIf="!pageLoader">
  <div class="breadcrumb">
    <h1>Blog SEO</h1>
    <ul>
      <li>Edit the appearance of your blogs in a search engine listing</li>
    </ul>
  </div>

  <div class="separator-breadcrumb border-top"></div>
  <div class="top-filter-sec">
    <div class="row mb-4">
      <!-- search box -->
      <div *ngIf="list?.length" class="col-md-6">
        <div class="form-group">
          <input type="text" name="search_bar" placeholder="Search" class="form-control" [(ngModel)]="search_bar" />
        </div>
      </div>
    </div>
  </div>

  <!-- DATA LIST -->
  <div class="row list-horizontal">
    <div *ngFor="let x of list | orderDesc:'created_on' | fieldSearch:'name':search_bar | paginate: { itemsPerPage: pageSize, currentPage: page }; let i = index;"
      class="list-item col-md-12" [@animate]="{value:'*',params:{delay: (i*100)+'ms', y:'50px'}}">

      <div class="card o-hidden mb-4 d-flex flex-row">
        <div class="flex-grow-1 pl-2 d-flex">
          <div class="card-body align-self-center d-flex flex-column justify-content-between align-items-lg-center flex-lg-row">
            <p class="w-30 w-sm-100 m-b-0">{{x.name}}</p>
            <p *ngIf="!x.seo_status" class="m-0 text-muted text-small w-15 w-sm-100 w-md-100 max-w-200">{{commonService.store_details?.base_url}}/blogs/{{x._id}}</p>
            <p *ngIf="x.seo_status" class="m-0 text-muted text-small w-15 w-sm-100 w-md-100 max-w-200">{{commonService.store_details?.base_url}}/blogs/{{x.seo_details?.page_url}}</p>
            <p class="m-0 text-muted text-small w-15 w-sm-100 d-lg-block item-actions">
              <button class="btn btn-wide black-outline-btn w-md-100 mr-3" (click)="onEdit(x, seoModal);">
                <span class="black-outline-txt">Edit</span>
              </button>
            </p>
          </div>
        </div>
      </div>

    </div>
    <!-- PAGINATION CONTROL -->
    <div class="col-md-12 mt-3" *ngIf="list?.length">
      <pagination-controls (pageChange)="page=$event; commonService.pageTop(0);" autoHide="true" responsive="true" maxSize="5" previousLabel=""
        nextLabel=""></pagination-controls>
    </div>
  </div>

  <div *ngIf="!list?.length" class="row">
    <div class="col-md-12">
      <p align="center">No records found</p>
    </div>
  </div>
</div>

<!-- SEO MODAL -->
<ng-template #seoModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ blog_details?.name }}</h4>
  </div>
  <form autocomplete="off" (ngSubmit)="onUpdate();" ngNativeValidate>
    <div class="modal-body">
      <div class="form-group">
        <div class="row">
          <div *ngIf="seoForm?.modified" class="col-md-12 form-group mb-3">
            <label class="checkbox checkbox-primary">
              <input class="form-check-input" type="checkbox" name="default_setting" [(ngModel)]="seoForm.default_setting" #default_setting="ngModel">
              <span>Use Original Settings</span>
              <span class="checkmark"></span>
            </label>
          </div>
          <ng-container *ngIf="!seoForm.default_setting">
            <div class="col-md-12 form-group mb-3">
              <label for="page_url">New Page URL - {{commonService.store_details?.base_url}}/blogs/{{seoForm?.page_url}}</label>
              <input type="text" name="page_url" id="page_url" class="form-control" [(ngModel)]="seoForm.page_url" #page_url="ngModel"
                required />
            </div>
            <div class="col-md-12 form-group mb-3">
              <label for="h1_tag">H1 Tag</label>
              <span *ngIf="seoForm?.h1_tag?.length" class="label_hint">{{seoForm?.h1_tag?.length}} of 70 characters used</span>
              <input type="text" name="h1_tag" id="h1_tag" class="form-control" [(ngModel)]="seoForm.h1_tag" #h1_tag="ngModel"
                maxlength="70" required />
            </div>
            <div class="col-md-12 form-group mb-3">
              <label for="page_title">Page Title</label>
              <span *ngIf="seoForm?.page_title?.length" class="label_hint">{{seoForm?.page_title?.length}} of 70 characters used</span>
              <input type="text" name="page_title" id="page_title" class="form-control" [(ngModel)]="seoForm.page_title" #page_title="ngModel"
                maxlength="70" required />
            </div>
            <div class="col-md-12 form-group mb-3">
              <label for="meta_desc">Meta Description</label>
              <span *ngIf="seoForm?.meta_desc?.length" class="label_hint">{{seoForm?.meta_desc?.length}} of 320 characters used</span>
              <textarea class="form-control" aria-label="With textarea" name="meta_desc" id="meta_desc" [(ngModel)]="seoForm.meta_desc"
                #meta_desc="ngModel" maxlength="320" required></textarea>
            </div>
          </ng-container>
          <div class="col-md-12 form-group mb-3">
            <label for="meta_keyword_list">Meta Keywords</label>
            <tag-input class="w-100" name="meta_keyword_list" id="meta_keyword_list" [(ngModel)]="seoForm.meta_keyword_list"
              #meta_keyword_list="ngModel" placeholder="" [secondaryPlaceholder]="'Enter options separated by commas'" [separatorKeyCodes]="[188]"
              required></tag-input>
          </div>
        </div>
      </div>
      <div *ngIf="seoForm.errorMsg">
        <p class="text-danger">{{ seoForm.errorMsg }}</p>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" id="closeModal" class="btn btn-wide black-outline-btn " (click)="modal.dismiss('Cross click');">
        <span class="black-outline-txt">Cancel</span>
      </button>
      <button type="submit" class="btn btn-wide btn-primary">Update</button>
    </div>
  </form>
</ng-template>