<div *ngIf="pageLoader" class="row">
  <app-spinner></app-spinner>
</div>

<div *ngIf="!pageLoader">
  <div class="breadcrumb">
    <h1>Welcome to yourstore</h1>
    <ul>
      <li>Launch your ecommerce website</li>
    </ul>
  </div>
  <div class="separator-breadcrumb border-top"></div>

  <div class="top-filter-sec">
    <div class="row">
      <div class="col-md-4">
        <div class="home-progress-section-wrapper">
          <div class="progress-step-count">
            <p class="progress-step-count-inner">
              <span>{{completedPercentage}}%</span> completed
            </p>
          </div>
          <div class="stpe-progress-bar">
            <div class="progress-bar">
              <div class="progress-bar-inner" [ngStyle]="{'width.%':completedPercentage}"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- data list -->
  <div class="row ml-0 mr-0 mt-4">
    <div class="col-md-12 p-0">
      <div class="data-list-card-wrapper">
        <div class="data-list-card-inner">
          <div *ngFor="let x of list; let i=index;" class="data-list-card p-4">
            <div class="row">
              <div class="col-md-3">
                <div class="data-list-inner-data">
                  <p class="m-0 data-head" [ngClass]="i===0? 'complete-strike': ''">{{x.heading}}</p>
                  <div *ngIf="x.sub_heading" class="hint-route-breadcrumb-wrapper">
                    <div class="hint-route-breadcrumb">
                      <span>{{x.sub_heading}}</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="data-list-inner-data">
                  <p class="m-0 text-small w-sm-100">{{x.description}}</p>
                </div>
              </div>

              <div class="col-md-2">
                <div class="data-list-inner-data">
                  <p class="d-flex align-items-center m-0 text-small w-sm-100">
                    <i class="material-icons-outlined mr-1">timer</i> Esitmate:{{x.duration}} min
                  </p>
                </div>
              </div>
              <div class="col-md-2">
                <div class="data-list-inner-data">
                  <p class="m-0 text-small w-sm-100">
                    <span *ngIf="!x.completed" class="badge badge-disabled">Pending</span>
                    <span *ngIf="x.completed" class="badge badge-success">Complete</span>
                    
                  </p>
                </div>
              </div>
              <div class="col-md-2">
                <div class="data-list-inner-data d-flex justify-content-center">
                  <button *ngIf="!x.completed || i>0" class="btn-primary w-100" type="button" [routerLink]="x.redirect">
                    {{ (x.completed)? 'View': 'Start' }}
                  </button>
                  <p *ngIf="i===0 && x.completed" class="m-0 text-small w-sm-100">
                    <span class="badge badge-success">Done</span>
                  </p>
                </div>
              </div>

            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>