<div *ngIf="pageLoader" class="row">
  <app-spinner></app-spinner>
</div>

<div *ngIf="!pageLoader">
  <div class="breadcrumb">
    <h1>Foot Note</h1>
    <ul><li>Filter your products efficiently</li></ul>
  </div>
  <div class="separator-breadcrumb border-top"></div>

  <div class="top-filter-sec">
  <div class="row mb-4">
    <div class="col-md-6">
      <button type="button" class="btn btn-primary" (click)="addForm = { rank: maxRank+1, option_list: [{}] }; modalService.open(addModal, { size: 'lg'});">Add New Note</button>
    </div>
    <!-- search box -->
    <div *ngIf="list?.length" class="col-md-6 mt-sm-15">
      <div class="form-group">
        <input type="text" name="search_bar" placeholder="Search" class="form-control" [(ngModel)]="search_bar" />
      </div>
    </div>
  </div>
</div>

  <!-- DATA LIST -->
  <div *ngIf="list?.length" class="row" class="list-horizontal">

    <!-- SINGLE LIST ITEM -->
    <div *ngFor="let x of list | orderAsc:'rank' | fieldSearch:'name':search_bar | paginate: { itemsPerPage: pageSize, currentPage: page }; let i=index;" 
      class="col-md-12 list-item" [@animate]="{value:'*',params:{delay: (i*100)+'ms', y:'50px'}}" >

      <div class="card o-hidden mb-4 d-flex flex-row">
        <div class="flex-grow-1 pl-2 d-flex">
          <div class="card-body align-self-center d-flex flex-column justify-content-between align-items-lg-center flex-lg-row">
            <!-- OTHER DATA -->
            <p class="w-30 w-sm-100 m-b-0">{{x.name}}</p>
            <p class="m-0 text-muted text-small w-15 w-sm-100 m-b-0">{{x.option_list?.length}} Options</p>
            <p class="m-0 text-muted text-small w-15 w-sm-100 d-lg-block item-actions">
              <button class="btn btn-wide black-outline-btn w-md-100 mr-3" (click)="onEdit(x, editModal);">
               <span class="black-outline-txt">Edit</span>
              </button>
              <button class="btn orng-outline-btn w-md-100" (click)="deleteForm = x; modalService.open(deleteModal, { centered: true });">
               <span class="orng-outline-txt">Remove</span>
              </button>
            </p>
          </div>
        </div>
      </div>

    </div>

    <!-- PAGINATION CONTROL -->
    <div class="col-md-12 mt-3">
      <pagination-controls (pageChange)="page=$event; commonService.pageTop(0);" autoHide="true" responsive="true" maxSize="5" previousLabel="" nextLabel=""></pagination-controls>
    </div>

  </div>

  <div *ngIf="!list?.length" class="row">
    <div class="col-md-12 d-flex flex-column align-items-center justify-content-center no-rec-found-wrapper">
      <img class="no-rec-found" src="assets/images/no_records_found.png" alt="no-records">
      <p align="center">No data to display.</p>
    </div>
  </div>
</div>

<!-- ADD MODAL -->
<ng-template #addModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New Note</h4>
  </div>
  <form autocomplete="off" (ngSubmit)="onAdd();" ngNativeValidate>
    <div class="modal-body">
      <div class="form-group">
        <div class="row">
          <div class="col-md-6 form-group mb-3">
            <label>Name</label>
            <input type="text" name="name" class="form-control" [(ngModel)]="addForm.name" #name="ngModel" required />
          </div>
          <div class="col-md-6 form-group mb-3">
            <label>Rank</label>
            <input type="number" name="rank" class="form-control" [(ngModel)]="addForm.rank" #rank="ngModel" min="1" max="{{maxRank+1}}" appNumberOnly required />
          </div>
        </div>

        <div class="row">
          <div class="col-md-12" *ngFor="let x of addForm.option_list; let i=index;">
            <div class="row">
              <div class="col-md-12 form-group mb-3">
                <div class="card p-2">
                  <label>Description {{i+1}}</label>
                  <span *ngIf="addForm.option_list.length > 1" (click)="addForm.option_list.splice(i, 1);" class="material-icons item-close absolute-item-close float-right " aria-hidden="true">close</span>
                  <textarea class="form-control" aria-label="With textarea" name="description{{i}}" [(ngModel)]="x.description" #description="ngModel" required></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 form-group">
            <span class="add-another  x-close" (click)="addForm.option_list.push({});"><b>ADD ANOTHER OPTION</b></span>
          </div>
        </div>
      </div>
      <div *ngIf="addForm.errorMsg"><p class="text-danger">{{ addForm.errorMsg }}</p></div>
    </div>
    <div class="modal-footer">
      <button type="button" id="closeModal" class="btn btn-wide black-outline-btn" (click)="modal.dismiss('Cross click');">
       <span class="black-outline-txt">Cancel</span>
      </button>
      <button type="submit" class="btn btn-wide btn-primary">Add</button>
    </div>
  </form>
</ng-template>

<!-- EDIT MODAL -->
<ng-template #editModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ editForm.name }}</h4>
  </div>
  <form autocomplete="off" (ngSubmit)="onUpdate();" ngNativeValidate>
    <div class="modal-body">
      <div class="form-group">
        <div class="row">
          <div class="col-md-6 form-group mb-3">
            <label>Title</label>
            <input type="text" name="name" class="form-control" [(ngModel)]="editForm.name" #name="ngModel" required />
          </div>
          <div class="col-md-6 form-group mb-3">
            <label>Rank</label>
            <input type="number" name="rank" class="form-control" [(ngModel)]="editForm.rank" #rank="ngModel" min="1" max="{{maxRank}}" appNumberOnly required />
          </div>
        </div>

        <div class="row">
          <div class="col-md-12" *ngFor="let x of editForm.option_list; let i=index;">
            <div class="row">
              <div class="col-md-12 form-group mb-3">
                <div class="card p-2">
                  <label>Description {{i+1}}</label>
                  <span *ngIf="editForm.option_list.length > 1" (click)="editForm.option_list.splice(i, 1);" class="material-icons item-close absolute-item-close float-right " aria-hidden="true">close</span>
                  <textarea class="form-control" aria-label="With textarea" name="description{{i}}" [(ngModel)]="x.description" #description="ngModel" required></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 form-group">
            <span class="add-another  x-close" (click)="editForm.option_list.push({});"><b>ADD ANOTHER OPTION</b></span>
          </div>
        </div>
      </div>
      <div *ngIf="editForm.errorMsg"><p class="text-danger">{{ editForm.errorMsg }}</p></div>
    </div>
    <div class="modal-footer">
      <button type="button" id="closeModal" class="btn btn-wide black-outline-btn" (click)="modal.dismiss('Cross click');">
       <span class="black-outline-txt">Cancel</span>
      </button>
      <button type="submit" class="btn btn-wide btn-primary">Update</button>
    </div>
  </form>
</ng-template>

<!-- DELETE MODAL -->
<ng-template #deleteModal let-modal>
  <div class="modal-body">
    <p><strong>Are you sure you want to delete <span class="txt-grdint-highlight">"{{deleteForm.name}}"</span> note?</strong></p>
    <div *ngIf="deleteForm.errorMsg"><p class="text-danger">{{ deleteForm.errorMsg }}</p></div>
  </div>
  <div class="modal-footer">
    <button type="button" id="closeModal" class="btn btn-wide black-outline-btn" (click)="modal.dismiss('Cross click');">
     <span class="black-outline-txt">No</span>
    </button>
    <button type="button" (click)="onDelete();" class="btn btn-wide orng-outline-btn">
     <span class="orng-outline-txt">Yes</span>
    </button>
  </div>
</ng-template>