<div *ngIf="pageLoader" class="row">
  <app-spinner></app-spinner>
</div>

<div *ngIf="!pageLoader">
  <div class="breadcrumb with-back-btn">
    <div class="row">
      <div class="col-md-9">
        <h1>Store Locator</h1>
        <ul>
          <li>Create and manage your store locations</li>
        </ul>
      </div>
      <div class="col-md-3 d-flex align-items-center justify-content-end mt-sm-15" align="right">
        <button type="button" class="btn btn-primary" (click)="modalService.open(settingModal, {size: 'lg'});">Page
          Setting</button>
      </div>
    </div>
  </div>

  <div class="separator-breadcrumb border-top"></div>
  <div class="top-filter-sec">
    <div class="row mb-4">
      <div class="col-6">
        <button type="button" class="btn btn-primary" (click)="addForm={rank: maxRank+1}; modalService.open(addModal);">
          Add New Location
        </button>
      </div>
      <!-- search box -->
      <div *ngIf="list?.length" class="col-md-6 mt-sm-15">
        <div class="form-group">
          <input type="text" name="search_bar" placeholder="Search" class="form-control" [(ngModel)]="search_bar" />
        </div>
      </div>
    </div>
  </div>

  <!-- DATA LIST -->
  <div class="list-horizontal">

    <div class="data-list-card-wrapper">
      <div class="data-list-card-inner">
        <div class="row">

          <div
            *ngFor="let x of list | orderAsc:'rank' | fieldSearch:'name':search_bar | paginate: { itemsPerPage: pageSize, currentPage: page }; let i = index;"
            class="list-item data-list-card col-md-12" [@animate]="{value:'*',params:{delay: (i*100)+'ms', y:'50px'}}">

            <div class="o-hidden d-flex flex-row">
              <div class="flex-grow-1 pl-2 d-flex">
                <div
                  class="card-body align-self-center d-flex flex-column justify-content-between align-items-lg-center flex-lg-row">
                  <p class="w-30 w-sm-100 m-b-0">{{x.name}}</p>
                  <p class="m-0 text-muted text-small w-15 w-sm-100 d-lg-block item-actions">
                    <button class="btn btn-wide black-outline-btn w-md-100 mr-3" (click)="onEdit(x, editModal);">
                      <span class="black-outline-txt">Edit</span>
                    </button>
                    <button class="btn orng-outline-btn w-md-100"
                      (click)="deleteForm = x; modalService.open(deleteModal, { centered: true });">
                      <span class="orng-outline-txt">Remove</span>
                    </button>
                  </p>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>

    <!-- PAGINATION CONTROL -->
    <div class="row" *ngIf="list?.length">
      <div class="col-md-12 mt-3">
        <pagination-controls (pageChange)="page=$event; commonService.pageTop(0);" autoHide="true" responsive="true"
          maxSize="5" previousLabel="" nextLabel=""></pagination-controls>
      </div>
    </div>

  </div>

  <div *ngIf="!list?.length" class="row">
    <div class="col-md-12 d-flex flex-column align-items-center justify-content-center no-rec-found-wrapper">
      <img class="no-rec-found" src="assets/images/no_records_found.png" alt="no-records">
      <p align="center">No data to display.</p>
    </div>
  </div>
</div>

<!-- ADD MODAL -->
<ng-template #addModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New Location</h4>
    <p>Add your location details</p>
  </div>
  <form autocomplete="off" (ngSubmit)="onAdd();" ngNativeValidate>
    <div class="modal-body">
      <div class="form-group">
        <div class="row">
          <div class="col-md-12 form-group mb-3">
            <label>Name</label>
            <input type="text" name="name" class="form-control" [(ngModel)]="addForm.name" #name="ngModel" required />
          </div>
          <div class="col-md-12 form-group mb-3">
            <label>Mobile</label>
            <input type="text" name="mobile" class="form-control" [(ngModel)]="addForm.mobile" #mobile="ngModel" />
          </div>
          <div class="col-md-12 form-group mb-3">
            <label>Address</label>
            <textarea class="form-control" aria-label="With textarea" name="address" [(ngModel)]="addForm.address"
              #address="ngModel"></textarea>
          </div>
          <div class="col-md-12 form-group mb-3">
            <label>Map URL</label>
            <input type="text" name="map_url" class="form-control" [(ngModel)]="addForm.map_url" #map_url="ngModel" />
          </div>
        </div>
      </div>
      <div *ngIf="addForm.errorMsg">
        <p class="text-danger">{{ addForm.errorMsg }}</p>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" id="closeModal" class="btn btn-wide black-outline-txt"
        (click)="modal.dismiss('Cross click');">
        <span class="black-outline-txt">Close</span>
      </button>
      <button type="submit" class="btn btn-wide btn-primary">Add</button>
    </div>
  </form>
</ng-template>

<!-- EDIT MODAL -->
<ng-template #editModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Location</h4>
    <p>Edit your location details</p>
  </div>
  <form autocomplete="off" (ngSubmit)="onUpdate();" ngNativeValidate>
    <div class="modal-body">
      <div class="form-group">
        <div class="row">
          <div class="col-md-12 form-group mb-3">
            <label>Name</label>
            <input type="text" name="name" class="form-control" [(ngModel)]="editForm.name" #name="ngModel" required />
          </div>
          <div class="col-md-12 form-group mb-3">
            <label>Mobile</label>
            <input type="text" name="mobile" class="form-control" [(ngModel)]="editForm.mobile" #mobile="ngModel" />
          </div>
          <div class="col-md-12 form-group mb-3">
            <label>Address</label>
            <textarea class="form-control" aria-label="With textarea" name="address" [(ngModel)]="editForm.address"
              #address="ngModel"></textarea>
          </div>
          <div class="col-md-12 form-group mb-3">
            <label>Map URL</label>
            <input type="text" name="map_url" class="form-control" [(ngModel)]="editForm.map_url" #map_url="ngModel" />
          </div>
        </div>
      </div>
      <div *ngIf="editForm.errorMsg">
        <p class="text-danger">{{ editForm.errorMsg }}</p>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" id="closeModal" class="btn btn-wide black-outline-txt"
        (click)="modal.dismiss('Cross click');">
        <span class="black-outline-txt">Close</span>
      </button>
      <button type="submit" class="btn btn-wide btn-primary">Update</button>
    </div>
  </form>
</ng-template>

<!-- DELETE MODAL -->
<ng-template #deleteModal let-modal>
  <div class="modal-body">
    <p><strong>Are you sure you want to remove <span class="txt-grdint-highlight">"{{deleteForm.name}}"</span>
        location?</strong></p>
    <div *ngIf="deleteForm.errorMsg">
      <p class="text-danger">{{ deleteForm.errorMsg }}</p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" id="closeModal" class="btn btn-wide black-outline-btn"
      (click)="modal.dismiss('Cross click');">
      <span class="black-outline-txt">No</span>
    </button>
    <button type="button" (click)="onDelete();" class="btn btn-wide orng-outline-btn">
      <span class="orng-outline-txt">Yes</span>
    </button>
  </div>
</ng-template>

<!-- SETTING MODAL -->
<ng-template #settingModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Page Configuration</h4>
  </div>
  <form autocomplete="off" (ngSubmit)="onUpdateSetting();" ngNativeValidate>
    <div class="modal-body">
      <div class="form-group">
        <div class="row">
          <div class="col-md-12 form-group mb-3">
            <label>Heading</label>
            <input type="text" name="heading" class="form-control" [(ngModel)]="settingForm.heading" #heading="ngModel"
              required />
          </div>
          <div class="col-md-12 form-group mb-3">
            <label>Sub-heading</label>
            <input type="text" name="sub_heading" class="form-control" [(ngModel)]="settingForm.sub_heading"
              #sub_heading="ngModel" />
          </div>
        </div>
      </div>
      <div *ngIf="settingForm.errorMsg">
        <p class="text-danger">{{ settingForm.errorMsg }}</p>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" id="closeModal" class="btn btn-wide black-outline-txt"
        (click)="modal.dismiss('Cross click');">
        <span class="black-outline-txt">Close</span>
      </button>
      <button type="submit" class="btn btn-wide btn-primary">Update</button>
    </div>
  </form>
</ng-template>