<div *ngIf="pageLoader" class="row">
  <app-spinner></app-spinner>
</div>

<div *ngIf="!pageLoader">

  <div class="breadcrumb with-back-btn">
    <div class="row">
      <div class="col-md-8">
        <h1>Tax Rates</h1>
        <ul><li>These are your applicable tax rates</li></ul>
      </div>
      <div *ngIf="commonService.deployInProgress" class="col-md-4 d-flex align-items-center justify-content-end mt-sm-15">
        <button type="button" class="btn btn-primary" (click)="commonService.goBack();">Go Back</button>
      </div>
    </div>
  </div>
  <div class="separator-breadcrumb border-top"></div>

  <div class="top-filter-sec">
    <div class="row mb-4">
      <div class="col-6">
        <button type="button"
          (click)="addForm = {home_country: commonService.store_details?.country}; (!list.length)? addForm.primary=true: ''; modalService.open(addModal, { size: 'lg'});"
          class="btn btn-primary">Add New Tax Rate</button>
      </div>
      <!-- search box -->
      <div class="col-md-6 mt-sm-15" align="right">
        <div class="form-group">
          <input type="text" name="search_bar" placeholder="Search" class="form-control" [(ngModel)]="search_bar" />
        </div>
      </div>
    </div>
  </div>
  <!-- DATA LIST -->
  <div *ngIf="list?.length" class="list-horizontal">

    <div class="data-list-card-wrapper">
      <div class="data-list-card-inner">
        <div class="row m-0">

          <!-- SINGLE LIST ITEM -->
          <div
            *ngFor="let x of list | fieldSearch:'name':search_bar | paginate: { itemsPerPage: pageSize, currentPage: page }; let i=index;"
            class="col-md-12 list-item data-list-card p-0" [ngClass]="x.primary? 'has-find-band': ''" [@animate]="{value:'*',params:{delay: (i*100)+'ms', y:'50px'}}">

            <div class="d-flex flex-row">
              <div [ngClass]="x.primary? 'find-band': ''"></div>
              <div class="flex-grow-1 d-flex">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-3">
                      <p class="w-15 w-sm-50 mb-0">{{x.name}}</p><br>
                      <p class="w-15 w-sm-50 mb-0">{{x._id}}</p>
                    </div>
                    <div class="col-lg-2 d-flex align-items-center">
                      <p class="w-15 w-sm-50 mb-0">{{x.sgst+x.cgst}}%</p>
                    </div>
                    <div class="col-lg-4 d-flex align-items-center">
                      <p class="w-15 w-sm-50 mb-0">{{x.home_state}}, {{x.home_country}} ({{x.sgst}}% + {{x.cgst}}%),
                        Others
                        ({{x.igst}}%)</p>
                    </div>
                    <div class="col-lg-3 d-flex align-items-center justify-content-end">
                      <p class="m-0 text-muted text-small w-15 w-md-100 d-lg-block item-actions">
                        <button class="btn btn-wide black-outline-btn w-md-100 mr-3" (click)="onEdit(x, editModal);">
                          <span class="black-outline-txt">Edit</span>
                        </button>
                        <button class="btn orng-outline-btn w-md-100"
                          (click)="deleteForm = x; modalService.open(deleteModal, { centered: true });">
                          <span class="orng-outline-txt">Remove</span>
                        </button>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>


    <!-- PAGINATION CONTROL -->
    <div class="row">
      <div class="col-md-12 mt-3">
        <pagination-controls (pageChange)="page=$event; commonService.pageTop(0);" autoHide="true" responsive="true"
          maxSize="5" previousLabel="" nextLabel=""></pagination-controls>
      </div>
    </div>
    

  </div>

  <div *ngIf="!list?.length" class="row">
    <div class="col-md-12 d-flex flex-column align-items-center justify-content-center no-rec-found-wrapper">
      <img class="no-rec-found" src="assets/images/no_records_found.png" alt="no-records">
      <p align="center">No data to display.</p>
    </div>
  </div>

</div>

<!-- ADD MODAL -->
<ng-template #addModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Tax Rate</h4>
  </div>
  <form autocomplete="off" (ngSubmit)="onAdd();" ngNativeValidate>
    <div class="modal-body">
      <div class="form-group">
        <div class="row">
          <div class="col-md-12 form-group mb-3">
            <label class="checkbox checkbox-primary">
              <input class="form-check-input" type="checkbox" name="primary" [(ngModel)]="addForm.primary"
                #primary="ngModel" [disabled]="!list.length">
              <span>Mark as primary</span>
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="col-md-6 form-group mb-3">
            <label>Name</label>
            <input type="text" name="name" class="form-control" [(ngModel)]="addForm.name" #name="ngModel" required />
          </div>
          <div class="col-md-6 form-group mb-3">
            <label>SGST</label>
            <input type="text" name="sgst" class="form-control" [(ngModel)]="addForm.sgst" #sgst="ngModel" appNumberOnly
              required />
            <label class="delivery-days">%</label>
          </div>
          <div class="col-md-6 form-group mb-3">
            <label>CGST</label>
            <input type="text" name="cgst" class="form-control" [(ngModel)]="addForm.cgst" #cgst="ngModel" appNumberOnly
              required />
            <label class="delivery-days">%</label>
          </div>
          <div class="col-md-6 form-group mb-3">
            <label>IGST</label>
            <input type="text" name="igst" class="form-control" [(ngModel)]="addForm.igst" #igst="ngModel" appNumberOnly
              required />
            <label class="delivery-days">%</label>
          </div>
          <div class="col-md-6 form-group mb-3">
            <label>Home Country</label>
            <input type="text" name="home_country" class="form-control" [(ngModel)]="addForm.home_country"
              #home_country="ngModel" readonly required />
          </div>
          <div class="col-md-6 form-group mb-3">
            <label>Home State</label>
            <select name="home_state" class="form-control select-arrow" [(ngModel)]="addForm.home_state"
              #home_state="ngModel" required>
              <option [ngValue]="x.name" *ngFor="let x of state_list;">{{x.name}}</option>
            </select>
          </div>
        </div>
      </div>
      <div *ngIf="addForm.errorMsg">
        <p class="text-danger">{{ addForm.errorMsg }}</p>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" id="closeModal" class="btn btn-wide black-outline-btn"
        (click)="modal.dismiss('Cross click');">
        <span class="black-outline-txt">Cancel</span>
      </button>
      <button type="submit" class="btn btn-wide btn-primary">Add</button>
    </div>
  </form>
</ng-template>

<!-- EDIT MODAL -->
<ng-template #editModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ editForm.name }}</h4>
  </div>
  <form autocomplete="off" (ngSubmit)="onUpdate();" ngNativeValidate>
    <div class="modal-body">
      <div class="form-group">
        <div class="row">
          <div *ngIf="!editForm.prev_primary" class="col-md-12 form-group mb-3">
            <label class="checkbox checkbox-primary">
              <input class="form-check-input" type="checkbox" name="primary" [(ngModel)]="editForm.primary"
                #primary="ngModel">
              <span>Mark as primary</span>
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="col-md-6 form-group mb-3">
            <label>Name</label>
            <input type="text" name="name" class="form-control" [(ngModel)]="editForm.name" #name="ngModel" required />
          </div>
          <div class="col-md-6 form-group mb-3">
            <label>SGST</label>
            <input type="text" name="sgst" class="form-control" [(ngModel)]="editForm.sgst" #sgst="ngModel"
              appNumberOnly required />
            <label class="delivery-days">%</label>
          </div>
          <div class="col-md-6 form-group mb-3">
            <label>CGST</label>
            <input type="text" name="cgst" class="form-control" [(ngModel)]="editForm.cgst" #cgst="ngModel"
              appNumberOnly required />
            <label class="delivery-days">%</label>
          </div>
          <div class="col-md-6 form-group mb-3">
            <label>IGST</label>
            <input type="text" name="igst" class="form-control" [(ngModel)]="editForm.igst" #igst="ngModel"
              appNumberOnly required />
            <label class="delivery-days">%</label>
          </div>
          <div class="col-md-6 form-group mb-3">
            <label>Home Country</label>
            <input type="text" name="home_country" class="form-control" [(ngModel)]="editForm.home_country"
              #home_country="ngModel" readonly required />
          </div>
          <div class="col-md-6 form-group mb-3">
            <label>Home State</label>
            <select name="home_state" class="form-control select-arrow" [(ngModel)]="editForm.home_state"
              #home_state="ngModel" required>
              <option [ngValue]="x.name" *ngFor="let x of state_list;">{{x.name}}</option>
            </select>
          </div>
        </div>
      </div>
      <div *ngIf="editForm.errorMsg">
        <p class="text-danger">{{ editForm.errorMsg }}</p>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" id="closeModal" class="btn btn-wide black-outline-btn"
        (click)="modal.dismiss('Cross click');">
        <span class="black-outline-txt">Cancel</span>
      </button>
      <button type="submit" class="btn btn-primary">Update</button>
    </div>
  </form>
</ng-template>

<!-- DELETE MODAL -->
<ng-template #deleteModal let-modal>
  <div class="modal-body">
    <p>
      <strong>Are you sure you want to delete
        <span class="txt-grdint-highlight">"{{deleteForm.name}}"</span>?</strong>
    </p>
    <div *ngIf="deleteForm.errorMsg">
      <p class="text-danger">{{ deleteForm.errorMsg }}</p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" id="closeModal" class="btn btn-wide black-outline-btn"
      (click)="modal.dismiss('Cross click');">
      <span class="black-outline-txt">No</span>
    </button>
    <button type="button" (click)="onDelete();" class="btn btn-wide orng-outline-btn">
      <span class="orng-outline-txt">Yes</span>
    </button>
  </div>
</ng-template>