<div *ngIf="pageLoader" class="row">
  <app-spinner></app-spinner>
</div>

<div *ngIf="!pageLoader">
  <div class="breadcrumb">
    <h1>Catalogs</h1>
    <ul>
      <li>Manage your catalogs</li>
    </ul>
  </div>
  <div class="separator-breadcrumb border-top"></div>

  <div class="top-filter-sec">
    <div class="row mb-4">
      <div class="col-md-6">
        <button type="button" class="btn btn-primary"
          (click)="addForm = { social_media_links: [] }; modalService.open(addModal, { size: 'lg'});">
          Add New Catalog
        </button>
      </div>
      <!-- search box -->
      <div *ngIf="list?.length" class="col-md-6 mt-sm-15">
        <div class="form-group">
          <input type="text" name="search_bar" placeholder="Search" class="form-control" [(ngModel)]="search_bar" />
        </div>
      </div>
    </div>
  </div>
  <!-- DATA LIST -->


  <div *ngIf="list?.length" class="list-horizontal">

    <div class="data-list-card-wrapper">
      <div class="data-list-card-inner">
        <div class="row m-0">
          <!-- SINGLE LIST ITEM -->
          <div
            *ngFor="let x of list | fieldSearch:'name':search_bar | paginate: { itemsPerPage: pageSize, currentPage: page }; let i = index"
            class="col-md-12 p-0 list-item data-list-card"
            [@animate]="{value:'*',params:{delay: (i*100)+'ms', y:'50px'}}">


            <div class="d-flex flex-row">
              <div class="flex-grow-1 pl-2 d-flex">
                <div
                  class="card-body align-self-center d-flex flex-column justify-content-between align-items-lg-center flex-lg-row">
                  <!-- OTHER DATA -->
                  <p class="w-30 w-sm-100 m-b-0">{{x.name}}</p>
                  <p class="w-30 w-sm-100 m-b-0">{{x._id}}</p>
                  <p class="m-0 text-muted text-small w-15 w-sm-100 d-lg-block item-actions">
                    <!-- <button class="btn btn-wide blue-outline-btn w-md-100 mr-3" routerLink="/catalogs/{{x._id}}">
                <span class="blue-outline-txt">View Products</span>
              </button> -->
                    <button class="btn btn-wide black-outline-btn w-md-100 mr-3" (click)="onEdit(x, editModal);">
                      <span class="black-outline-txt">Edit</span>
                    </button>
                    <button class="btn orng-outline-btn w-md-100"
                      (click)="deleteForm = x; modalService.open(deleteModal, { centered: true });">
                      <span class="orng-outline-txt">Remove</span>
                    </button>
                  </p>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>


    <!-- PAGINATION CONTROL -->
    <div class="row">
      <div class="col-md-12 mt-3">
        <pagination-controls (pageChange)="page=$event; commonService.pageTop(0);" autoHide="true" responsive="true"
          maxSize="5" previousLabel="" nextLabel=""></pagination-controls>
      </div>
    </div>
   

  </div>

  <div *ngIf="!list?.length" class="row">
    <div class="col-md-12 d-flex flex-column align-items-center justify-content-center no-rec-found-wrapper">
      <img class="no-rec-found" src="assets/images/no_records_found.png" alt="no-records">
      <p align="center">No data to display. Catalogs help you segregate your products better.</p>
    </div>
  </div>
</div>

<!-- ADD MODAL -->
<ng-template #addModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New Catalog</h4>
  </div>
  <form autocomplete="off" (ngSubmit)="onAdd()" ngNativeValidate>
    <div class="modal-body">
      <div class="form-group">
        <div class="row">
          <div class="col-md-12 form-group mb-3">
            <label>Name</label>
            <input type="text" name="name" class="form-control" [(ngModel)]="addForm.name" #name="ngModel" required />
          </div>
          <!-- page content -->
          <div *ngIf="commonService.ys_features.indexOf('catalog_page_content')!=-1" class="col-md-12 form-group mb-3">
            <label class="checkbox checkbox-primary">
              <input class="form-check-input" type="checkbox" name="content_status" [(ngModel)]="addForm.content_status"
                (change)="(!addForm.content_details) ? addForm.content_details={}: ''" #content_status="ngModel">
              <span>Enable Page Content</span>
              <span class="checkmark"></span>
            </label>
          </div>
          <ng-container *ngIf="addForm.content_status && commonService.ys_features.indexOf('catalog_page_content')!=-1">
            <div class="col-md-12 form-group mb-3">
              <label>Title</label>
              <input type="text" name="title" class="form-control" [(ngModel)]="addForm.content_details.title"
                #title="ngModel" required />
            </div>
            <div class="col-md-12 form-group mb-3 quill-mb-5">
              <label>Description</label>
              <quill-editor class="rounded" [placeholder]="null" [(ngModel)]="addForm.content_details.description"
                [ngModelOptions]="{standalone: true}"></quill-editor>
            </div>
          </ng-container>
          <!-- social media links -->
          <div *ngIf="commonService.ys_features.indexOf('catalog_social_links')!=-1" class="col-md-12 form-group mb-3">
            <label class="checkbox checkbox-primary">
              <input class="form-check-input" type="checkbox" name="social_media_status"
                [(ngModel)]="addForm.social_media_status" #social_media_status="ngModel">
              <span>Enable Social Media Links</span>
              <span class="checkmark"></span>
            </label>
          </div>
          <ng-container
            *ngIf="addForm.social_media_status && commonService.ys_features.indexOf('catalog_social_links')!=-1">
            <div class="col-md-6 form-group mb-3" *ngFor="let x of addForm.social_media_links; let i=index;">
              <div class="card p-2">
                <span (click)="addForm.social_media_links.splice(i, 1);"
                  class="material-icons item-close absolute-item-close float-right" aria-hidden="true">close</span>
                <div class="row">
                  <div class="col-md-12 form-group mb-3">
                    <label>Type</label>
                    <select name="type{{i}}" class="form-control" [(ngModel)]="x.type" #type="ngModel" required>
                      <option [ngValue]="x" *ngFor="let x of commonService.socialTypes;">{{x | titlecase}}</option>
                    </select>
                  </div>
                  <div class="col-md-12 form-group mb-3">
                    <label>Link</label>
                    <input type="text" name="url{{i}}" class="form-control" [(ngModel)]="x.url" #url="ngModel"
                      required />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <p class="add-another" (click)="addForm.social_media_links.push({});">ADD NEW</p>
            </div>
          </ng-container>
        </div>
      </div>
      <div *ngIf="addForm.errorMsg">
        <p class="text-danger">{{ addForm.errorMsg }}</p>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" id="closeModal" class="btn btn-wide black-outline-btn"
        (click)="modal.dismiss('Cross click')">
        <span class="black-outline-txt">Cancel</span>
      </button>
      <button type="submit" class="btn btn-wide btn-primary">Add</button>
    </div>
  </form>
</ng-template>

<!-- EDIT MODAL -->
<ng-template #editModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ editForm.name }}</h4>
  </div>
  <form autocomplete="off" (ngSubmit)="onUpdate();" ngNativeValidate>
    <div class="modal-body">
      <div class="form-group">
        <div class="row">
          <div class="col-md-12 form-group mb-3">
            <label>Name</label>
            <input type="text" name="name" class="form-control" [(ngModel)]="editForm.name" #name="ngModel" required />
          </div>
          <div *ngIf="editForm?.seo_details?.modified" class="col-md-12 form-group mb-3">
            <label class="checkbox checkbox-primary">
              <input class="form-check-input" type="checkbox" name="update_seo" [(ngModel)]="editForm.update_seo"
                #update_seo="ngModel">
              <span>Update SEO Details</span>
              <span class="checkmark"></span>
            </label>
          </div>
          <!-- page content -->
          <div *ngIf="commonService.ys_features.indexOf('catalog_page_content')!=-1" class="col-md-12 form-group mb-3">
            <label class="checkbox checkbox-primary">
              <input class="form-check-input" type="checkbox" name="content_status"
                [(ngModel)]="editForm.content_status"
                (change)="(!editForm.content_details) ? editForm.content_details={}: ''" #content_status="ngModel">
              <span>Enable Page Content</span>
              <span class="checkmark"></span>
            </label>
          </div>
          <ng-container
            *ngIf="editForm.content_status && commonService.ys_features.indexOf('catalog_page_content')!=-1">
            <div class="col-md-12 form-group mb-3">
              <label>Title</label>
              <input type="text" name="title" class="form-control" [(ngModel)]="editForm.content_details.title"
                #title="ngModel" required />
            </div>
            <div class="col-md-12 form-group mb-3 quill-mb-5">
              <label>Description</label>
              <quill-editor class="rounded" [placeholder]="null" [(ngModel)]="editForm.content_details.description"
                [ngModelOptions]="{standalone: true}"></quill-editor>
            </div>
          </ng-container>
          <!-- social media links -->
          <div *ngIf="commonService.ys_features.indexOf('catalog_social_links')!=-1" class="col-md-12 form-group mb-3">
            <label class="checkbox checkbox-primary">
              <input class="form-check-input" type="checkbox" name="social_media_status"
                [(ngModel)]="editForm.social_media_status" #social_media_status="ngModel">
              <span>Enable Social Media Links</span>
              <span class="checkmark"></span>
            </label>
          </div>
          <ng-container
            *ngIf="editForm.social_media_status && commonService.ys_features.indexOf('catalog_social_links')!=-1">
            <div class="col-md-6 form-group mb-3" *ngFor="let x of editForm.social_media_links; let i=index;">
              <div class="card p-2">
                <span (click)="editForm.social_media_links.splice(i, 1);"
                  class="material-icons item-close absolute-item-close float-right" aria-hidden="true">close</span>
                <div class="row">
                  <div class="col-md-12 form-group mb-3">
                    <label>Type</label>
                    <select name="type{{i}}" class="form-control" [(ngModel)]="x.type" #type="ngModel" required>
                      <option [ngValue]="x" *ngFor="let x of commonService.socialTypes;">{{x | titlecase}}</option>
                    </select>
                  </div>
                  <div class="col-md-12 form-group mb-3">
                    <label>Link</label>
                    <input type="text" name="url{{i}}" class="form-control" [(ngModel)]="x.url" #url="ngModel"
                      required />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <p class="add-another" (click)="editForm.social_media_links.push({});">ADD NEW</p>
            </div>
          </ng-container>
        </div>
      </div>
      <div *ngIf="editForm.errorMsg">
        <p class="text-danger">{{ editForm.errorMsg }}</p>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" id="closeModal" class="btn btn-wide black-outline-btn"
        (click)="modal.dismiss('Cross click')">
        <span class="black-outline-txt">Cancel</span>
      </button>
      <button type="submit" class="btn btn-wide btn-primary">Update</button>
    </div>
  </form>
</ng-template>

<!-- DELETE MODAL -->
<ng-template #deleteModal let-modal>
  <div class="modal-body">
    <p><strong>Are you sure you want to remove <span class="txt-grdint-highlight">"{{deleteForm.name}}"</span>
        catalog?</strong></p>
    <div *ngIf="deleteForm.errorMsg">
      <p class="text-danger">{{ deleteForm.errorMsg }}</p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" id="closeModal" class="btn btn-wide black-outline-btn" (click)="modal.dismiss('Cross click')">
      <span class="black-outline-txt">No</span>
    </button>
    <button type="button" (click)="onDelete();" class="btn btn-wide orng-outline-btn">
      <span class="orng-outline-txt">Yes</span>
    </button>
  </div>
</ng-template>