<div>
  <div class="breadcrumb with-back-btn">
    <div class="row">
      <div class="col-md-12 p-0">
        <div class="row">
          <div class="col-md-12 col-md-8 d-flex justify-content-end align-items-start flex-column">
            <h1>Billing</h1>
            <ul>
              <li>Manage your billings</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="separator-breadcrumb border-top"></div>

  <div class="row">
    <div class="col-md-12 col-lg-6 d-flex">
      <div class="card w-100 p-3 mb-3">
        <div class="row">
          <div class="col-md-6">
            <p>
              <b>Current Billing</b>
            </p>
            <p>Next Billing on 10 Sep 2021</p>
          </div>
          <div class="col-md-6">
            <div class="d-flex justify-content-end">
              <button class="btn-primary" type="button">Make Payment</button>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-6">
            <div class="">
              <p>Subscription Charges</p>
            </div>
          </div>
          <div class="col-6 d-flex justify-content-end">
            <div class="d-flex justify-content-end">
              <p>$12</p>
            </div>
          </div>
          <div class="col-6">
            <div class="">
              <p>Add-on Charges</p>
            </div>
          </div>
          <div class="col-6">
            <div class="d-flex justify-content-end">
              <p>$12</p>
            </div>
          </div>
          <div class="col-6">
            <div class="">
              <p>Transaction Charges</p>
            </div>
          </div>
          <div class="col-6">
            <div class="d-flex justify-content-end">
              <p>$12</p>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-6">
            <div class="">
              <p>
                <b>Running Total</b>
              </p>
            </div>
          </div>
          <div class="col-6">
            <div class="d-flex justify-content-end">
              <p>$36</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12 col-lg-6 d-flex">
      <div class="card w-100 p-3 mb-3">
        <div class="row">
          <div class="col-md-6">
            <p>
              <b>Current Plan</b>
            </p>
            <p>STARTER</p>
          </div>
          <div class="col-md-6">
            <div class="d-flex justify-content-end">
              <button class="btn black-outline-btn" routerLink="/deployment/plans" type="button">
                <span class="black-outline-txt">Upgrade Plan</span>
              </button>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-12">
            <div class="">
              <p>
                <b>Upgrade to Growth Plan</b>
              </p>
            </div>
            <div class="">
              <ul class="check-highlighted-points">
                <li>Lower Transaction Fee at 0.75%</li>
                <li>10 Staff Accounts</li>
                <li>Product FAQ</li>
                <li>Gift Cards</li>
                <li>Order Instructions/Comments</li>
                <li>Manual Order Creation</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12 col-lg-6 d-flex">
      <div class="card w-100 p-3 mb-3">
        <div class="row">
          <div class="col-md-6">
            <p>
              <b>Statement of Charges</b>
            </p>
          </div>
          <div class="col-md-6">
            <div class="d-flex justify-content-end">
              <button class="btn black-outline-btn" routerLink="/account/billing/statement" type="button">
                <span class="black-outline-txt">View Statement</span>
              </button>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-6">
            <div class="">
              <p>View Summaries of your charges</p>
            </div>
          </div>
          <div class="col-6 d-flex justify-content-end">
            <div class="d-flex justify-content-end">
              <p>$12</p>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-12">
            <p>
              <b>Credits</b>
            </p>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-6">
            <div class="">
              <p>there are no Credits on your account right now</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>