<div *ngIf="pageLoader" class="row">
  <app-spinner></app-spinner>
</div>

<div *ngIf="!pageLoader">
  <div class="breadcrumb">
    <h1 *ngIf="!router.url.includes('modify')">New Add-On</h1>
    <h1 *ngIf="router.url.includes('modify')">{{addonForm.name}}</h1>
    <ul>
      <li>{{router.url.includes('modify')? 'Edit': 'Enter'}} details and customization options for this add-on</li>
    </ul>
  </div>
  <div class="separator-breadcrumb border-top"></div>

  <form autocomplete="off" (ngSubmit)="onSubmit();" ngNativeValidate>

    <div *ngIf="commonService.store_details?.additional_features?.addon_image" class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4" align="center">
        <div *ngIf="addonForm.image" class="mb-3">
          <span (click)="addonForm.img_change=null; addonForm.image=null" class="material-icons item-close float-right" aria-hidden="true">close</span>
          <img [src]="addonForm.image" height="100px;" width="auto;">
        </div>
        <div *ngIf="!addonForm.image">
          <label>
            <div>
              <i class="material-icons add-img">add_photo_alternate</i>
              <p>Click to upload image</p>
            </div>
            <input type="file" name="image" style="display: none;" (change)="mainFileChangeListener($event)" accept="image/jpeg, image/png" />
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 form-group mb-3">
        <label for="name">Name</label>
        <input type="text" name="addon_name" id="name" class="form-control" [(ngModel)]="addonForm.name" #name="ngModel" required
        />
      </div>
      <div class="col-md-3 form-group mb-3">
        <label for="price">Price</label>
        <input type="text" name="addon_price" id="price" class="form-control" [(ngModel)]="addonForm.price" #price="ngModel" appNumberOnly
          required />
      </div>
      <div class="col-md-3 form-group mb-3">
        <label for="min_stock">Min Stock Requirement</label>
        <input type="text" name="min_stock" id="min_stock" class="form-control" [(ngModel)]="addonForm.min_stock" #min_stock="ngModel" appNumberOnly
          required />
      </div>
      <div class="col-md-2 form-group mb-3">
        <label for="rank">Rank</label>
        <input type="number" name="rank" id="rank" class="form-control" [(ngModel)]="addonForm.rank" #rank="ngModel" min="1" max="{{maxRank}}"
          appNumberOnly required />
      </div>
    </div>

    <!-- measurement -->
    <ng-container *ngIf="commonService.ys_features.indexOf('measurements')!=-1 && measurementList?.length">
      <div class="" [ngClass]="addonForm.mm_status? 'card p-3 mb-3': ''">
        <div class="row">
          <div class="form-group mb-3 col-md-12">
            <label class="checkbox checkbox-primary">
              <input class="form-check-input" type="checkbox" name="mm_status" [(ngModel)]="addonForm.mm_status" #mm_status="ngModel">
              <span>Include Measurements</span>
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
        <div class="card card-in-card mb-3 p-3" *ngIf="addonForm.mm_status">
          <div class="row">
            <div class="form-group col-md-12 mt-1 mb-1">
              <label class="checkbox checkbox-primary">
                <input class="form-check-input" type="checkbox" name="select_all" [(ngModel)]="addonForm.select_all" (change)="selectAllmmSets(addonForm.select_all);"
                  #select_all="ngModel">
                <span>Select All</span>
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="form-group col-md-3 mt-1 mb-1" *ngFor="let x of measurementList | orderAsc:'rank'; let i=index;">
              <label class="checkbox checkbox-success">
                <input class="form-check-input" type="checkbox" name="mm_checked{{i+1}}" [(ngModel)]="x.mm_checked" #mm_checked="ngModel">
                <span>{{x.name}}</span>
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <!-- Customization List -->
    <div class="card mb-3 p-3" *ngFor="let x of addonForm.custom_list; let i=index;">

    <div class="">
        <span (click)="addonForm.custom_list.splice(i, 1);" class="material-icons item-close absolute-item-close float-right " aria-hidden="true">close</span>
    </div>

    <div class="row">
        <div class="col-md-6 form-group mb-3">
        <label for="name">Customization Title</label>
        <input type="text" name="custom_name{{i+1}}" id="name" class="form-control" [(ngModel)]="x.name" #name="ngModel" required
        />
        </div>
        <div class="form-group mb-3" [ngClass]="x.type=='mandatory' || x.type=='limited'? 'col-md-3': 'col-md-6'">
        <label for="type">Choice Type</label>
        <select name="type{{i+1}}" id="type" class="form-control" (change)="x.limit=0;" [(ngModel)]="x.type" #type="ngModel" required>
            <option value="either_or">Choose One</option>
            <option value="multiple">Unlimited Choice</option>
            <option value="limited">Limited Choice</option>
            <option value="mandatory">Mandatory Choice</option>
        </select>
        </div>
        <div *ngIf="x.type=='mandatory' || x.type=='limited'" class="col-md-3 form-group mb-3">
        <label for="limit">Limit
            <span *ngIf="x.limit"> ({{x.limit}} out of {{x.option_list.length}})</span>
        </label>
        <input type="number" name="limit{{i+1}}" id="limit" class="form-control" [(ngModel)]="x.limit" #limit="ngModel" max="{{x.option_list.length}}"
            required />
        </div>
        <!-- Option List -->
        <div class="col-md-6 col-lg-4" *ngFor="let y of x.option_list; let j=index;">
        <div class="card card-in-card p-3 mb-3">

            <ng-container *ngIf="x.option_list.length > 1">
            <span (click)="x.option_list.splice(j, 1);" class="material-icons item-close absolute-item-close float-right " aria-hidden="true">close</span>
            </ng-container>

            <div class="mb-2" align="center">
            <label>
                <div *ngIf="!y.image">
                <i class="material-icons add-img">add_photo_alternate</i>
                <p>Click to upload image (Resolution: 150 x 150)</p>
                </div>
                <img *ngIf="y.image && y?.img_change" [src]="y.image" height="100px;" width="auto;">
                <input type="file" name="y.image{{i+1}}{{j+1}}" style="display: none;" (change)="fileChangeListener(i, j, $event)" accept="image/jpeg, image/png" />
            </label>
            </div>

            <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                <label for="name">Option Title</label>
                <input type="text" name="option_name{{i+1}}{{j+1}}" class="form-control" [(ngModel)]="y.name" #name="ngModel" required />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                <label for="price">Price</label>
                <input type="text" name="option_price{{i+1}}{{j+1}}" class="form-control" [(ngModel)]="y.price" #price="ngModel" required />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                <label>Extra Stock Requirement</label>
                <input type="text" name="additional_qty{{i+1}}{{j+1}}" class="form-control" [(ngModel)]="y.additional_qty" #additional_qty="ngModel" appNumberOnly required />
                </div>
            </div>
            </div>
        </div>
        </div>
        <div class="col-md-12 p-0">
        <div class="col-md-6 col-lg-4 z-i-0">
            <div class="add-another-opt" (click)="x.option_list.push({ price: 0, additional_qty: 0 });">
            <p class="w-100 x-close">ADD ANOTHER OPTION</p>
            </div>
        </div>
        </div>
        <!-- #Option List -->
    </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <span class="add-another  x-close" (click)="addonForm.custom_list.push({ option_list: [{ price: 0, additional_qty: 0 }] });">
          <b>{{ (addonForm?.custom_list?.length)? 'ADD ANOTHER CUSTOMIZATION': 'ADD CUSTOMIZATION' }}</b>
        </span>
      </div>
    </div>
    <!-- #Customization List -->

    <div class="separator-breadcrumb border-top mt-5"></div>
    <div class="row">
      <div *ngIf="addonForm.errorMsg" class="col-md-12 mt-3 mb-3">
        <p class="text-danger" align="center">{{ addonForm.errorMsg }}</p>
      </div>
      <div align="center" class="col-md-12 z-i-0">
        <button type="button" routerLink="/product-extras/addons" class="btn btn-wide black-outline-btn">
         <span class="black-outline-txt">Cancel</span>
        </button>&nbsp; &nbsp; &nbsp;
        <button type="submit" class="btn btn-wide btn-primary ladda-button m-1" [disabled]="btnLoader" [ladda]="btnLoader">Save</button>
      </div>
    </div>
  </form>

</div>