<div class="breadcrumb home-breadcrumb">
  <h1>What's New</h1>
</div>

<div class="home-headlines mt-2 mb-4">
  <h4>yourstore Anniversary Updates</h4>
  <h6>Aug 16th 2020</h6>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="col-md-6">
      <div class="card home-card p-3 mb-3">
        <h5 class="card-title">Colour Consistency</h5>
        <p>Platform-wide vivid colour usage to bring in more consistency and hierarchy of buttons and elements for easy
          of use.
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="col-md-6">
      <div class="card home-card p-3 mb-3">
        <h5 class="card-title">Language Consistency
        </h5>
        <p>UI updated with clearer text and terminology for more coherent usage of the Platform.</p>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="col-md-6">
      <div class="card home-card p-3 mb-3">
        <h5 class="card-title">More Control over yourstore
        </h5>
        <p>Manage your Store Plugins and control Store Checkout settings in just a few clicks. Find this under
          “Settings” in the Plugin Management tab.
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="col-md-6">
      <div class="card home-card p-3 mb-3">
        <h5 class="card-title">Update Critical Information
        </h5>
        <p>Pixel code, Google Analytics code, Store email and much more can now be updated in the “<span
            class="info-highlight">Store Settings</span>” tab
          under “<span class="info-highlight">Settings</span>”.
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="col-md-6">
      <div class="card home-card p-3 mb-3">
        <h5 class="card-title">More Free Features coming your way</h5>
        <p>Send WhatsApp messages, email or call abandoned cart customers directly, manage announcement bar content by
          yourself and we’ve thrown in a sale countdown timer for the announcement bar to usher in the urgency to
          complete a purchase from your customers.
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="col-md-6">
      <hr class="home-sec-spliter">
    </div>
  </div>

  <div class="col-md-12">
    <div class="col-md-6">
      <div class="card home-card p-3 mb-3">
        <h5 class="card-title">Mobile Responsive and Optimised Backend</h5>
        <p>Use all the features of the yourstore backend on your mobile. Manage orders, products, SEO & more on the
          fly.</p>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="col-md-6">
      <div class="card home-card p-3 mb-3">
        <h5 class="card-title">Optimised UI</h5>
        <p>UI Elements Design have been optimized for ease of use and understanding with clear definitions for each
          section.</p>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="col-md-6">
      <div class="card home-card p-3 mb-3">
        <h5 class="card-title">Dark mode</h5>
        <p>yourstore has just joined the dark mode party. Enjoy using yourstore even at night without straining your
          eyes with our enhanced dark UI.</p>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="col-md-6">
      <div class="card home-card p-3 mb-3">
        <h5 class="card-title">Dashboard</h5>
        <p>The new updated dashboard has all the right features for you to run and analyze your business in real-time.
        </p>
      </div>
    </div>
  </div>
</div>